<script setup>
import { Head, useForm, router } from "@inertiajs/vue3";
import { mdiAccountKey, mdiArrowLeftBoldOutline } from "@mdi/js";
import LayoutAuthenticated from "@/Layouts/LayoutAuthenticated.vue";
import SectionMain from "@/Components/SectionMain.vue";
import SectionTitleLineWithButton from "@/Components/SectionTitleLineWithButton.vue";
import CardBox from "@/Components/CardBox.vue";
import FormField from "@/Components/FormField.vue";
import FormControl from "@/Components/FormControl.vue";
import BaseButton from "@/Components/BaseButton.vue";
import BaseButtons from "@/Components/BaseButtons.vue";
import { ConfigUrl } from "@/config_url";
import axios from "@/axios";

const props = defineProps({
    token: String,
});

const form = useForm({
    gl_account: "",
    description: "",
    account_type: "",
    cf_acc: "",
    cf_tb: "",
    contra_acc1: "",
    dimlist: "",
    fs_structure: "",
    group: "",
    rate_type: "",
    type_elim: "",
    parenth1: "",
    gl_id: "",
    last_update: "",
    cash_flow: "",
    group_cycle: "",
    structure_costing: "",
    group_hrgl_: "",
});

function storeCostCenter() {
    const data = {
        gl_account: form.gl_account,
        description: form.description,
        account_type: form.account_type,
        cf_acc: form.cf_acc,
        cf_tb: form.cf_tb,
        contra_acc1: form.contra_acc1,
        dimlist: form.dimlist,
        fs_structure: form.fs_structure,
        group: form.group,
        rate_type: form.rate_type,
        type_elim: form.type_elim,
        parenth1: form.parenth1,
        gl_id: form.gl_id,
        last_update: form.last_update,
        cash_flow: form.cash_flow,
        group_cycle: form.group_cycle,
        structure_costing: form.structure_costing,
        group_hrgl_: form.group_hrgl_,
    };
    form.processing = true;
    axios
        .post(ConfigUrl.storeGL, JSON.stringify(data), {
            headers: {
                // token: props.token,
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            console.log("berhasil");
            router.get(route("mastergl"));
        })
        .catch(function (response) {
            alert(response);
        });
}
</script>

<template>
    <LayoutAuthenticated>
        <Head title="Add GL Account" />
        <SectionMain>
            <SectionTitleLineWithButton
                :icon="mdiAccountKey"
                title="Add GL Account"
                main
            >
                <BaseButton
                    :route-name="route('mastergl')"
                    :icon="mdiArrowLeftBoldOutline"
                    label="Back"
                    color="white"
                    rounded-full
                    small
                />
            </SectionTitleLineWithButton>
            <CardBox form @submit.prevent="storeCostCenter">
                <div class="md:columns-3">
                    <FormField
                        label="GL Account"
                        :class="{
                            'text-red-400': form.errors.gl_account,
                        }"
                    >
                        <FormControl
                            v-model="form.gl_account"
                            type="number"
                            placeholder="Enter GL Account"
                            :error="form.errors.gl_account"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.gl_account"
                            >
                                {{ form.errors.gl_account }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Description"
                        :class="{
                            'text-red-400': form.errors.description,
                        }"
                    >
                        <FormControl
                            v-model="form.description"
                            type="text"
                            placeholder="Enter Description"
                            :error="form.errors.description"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.description"
                            >
                                {{ form.errors.description }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Account Type"
                        :class="{
                            'text-red-400': form.errors.account_type,
                        }"
                    >
                        <FormControl
                            v-model="form.account_type"
                            placeholder="Enter Account Type"
                            :error="form.errors.account_type"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.account_type"
                            >
                                {{ form.errors.account_type }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Contra Acc1"
                        :class="{ 'text-red-400': form.errors.contra_acc1 }"
                    >
                        <FormControl
                            v-model="form.contra_acc1"
                            placeholder="Enter Contra Acc1"
                            :error="form.errors.contra_acc1"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.contra_acc1"
                            >
                                {{ form.errors.contra_acc1 }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Dimlist"
                        :class="{ 'text-red-400': form.errors.dimlist }"
                    >
                        <FormControl
                            v-model="form.dimlist"
                            placeholder="Enter Dimlist"
                            :error="form.errors.dimlist"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.dimlist"
                            >
                                {{ form.errors.dimlist }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="FS Structure"
                        :class="{ 'text-red-400': form.errors.fs_structure }"
                    >
                        <FormControl
                            v-model="form.fs_structure"
                            placeholder="Enter FS Structure"
                            :error="form.errors.fs_structure"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.fs_structure"
                            >
                                {{ form.errors.fs_structure }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="CF Acc"
                        :class="{ 'text-red-400': form.errors.cf_acc }"
                    >
                        <FormControl
                            v-model="form.cf_acc"
                            placeholder="Enter CF Acc"
                            :error="form.errors.cf_acc"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.cf_acc"
                            >
                                {{ form.errors.cf_acc }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="CF TB"
                        :class="{ 'text-red-400': form.errors.cf_tb }"
                    >
                        <FormControl
                            v-model="form.cf_tb"
                            placeholder="Enter CF TB"
                            :error="form.errors.cf_tb"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.cf_tb"
                            >
                                {{ form.errors.cf_tb }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Group"
                        :class="{
                            'text-red-400': form.errors.group,
                        }"
                    >
                        <FormControl
                            v-model="form.group"
                            placeholder="Enter Group"
                            :error="form.errors.group"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.group"
                            >
                                {{ form.errors.group }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Rate Type"
                        :class="{
                            'text-red-400': form.errors.rate_type,
                        }"
                    >
                        <FormControl
                            v-model="form.rate_type"
                            placeholder="Enter Rate Type"
                            :error="form.errors.rate_type"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.rate_type"
                            >
                                {{ form.errors.rate_type }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Type Elim"
                        :class="{
                            'text-red-400': form.errors.type_elim,
                        }"
                    >
                        <FormControl
                            v-model="form.type_elim"
                            placeholder="Enter Type Elim"
                            :error="form.errors.type_elim"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.type_elim"
                            >
                                {{ form.errors.type_elim }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Parenth 1"
                        :class="{
                            'text-red-400': form.errors.parenth1,
                        }"
                    >
                        <FormControl
                            v-model="form.parenth1"
                            placeholder="Enter Parenth 1"
                            type="number"
                            :error="form.errors.parenth1"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.parenth1"
                            >
                                {{ form.errors.parenth1 }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="GL ID"
                        :class="{
                            'text-red-400': form.errors.gl_id,
                        }"
                    >
                        <FormControl
                            v-model="form.gl_id"
                            placeholder="Enter GL ID"
                            type="number"
                            :error="form.errors.gl_id"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.gl_id"
                            >
                                {{ form.errors.gl_id }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Last Update"
                        :class="{
                            'text-red-400': form.errors.last_update,
                        }"
                    >
                        <FormControl
                            v-model="form.last_update"
                            placeholder="Enter Last Update"
                            type="date"
                            :error="form.errors.last_update"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.last_update"
                            >
                                {{ form.errors.last_update }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Cash Flow"
                        :class="{
                            'text-red-400': form.errors.cash_flow,
                        }"
                    >
                        <FormControl
                            v-model="form.cash_flow"
                            placeholder="Enter Cash Flow"
                            type="number"
                            :error="form.errors.cash_flow"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.cash_flow"
                            >
                                {{ form.errors.cash_flow }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Group Cycle"
                        :class="{
                            'text-red-400': form.errors.group_cycle,
                        }"
                    >
                        <FormControl
                            v-model="form.group_cycle"
                            placeholder="Enter Group Cycle"
                            type="number"
                            :error="form.errors.group_cycle"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.group_cycle"
                            >
                                {{ form.errors.group_cycle }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Structure Costing"
                        :class="{
                            'text-red-400': form.errors.structure_costing,
                        }"
                    >
                        <FormControl
                            v-model="form.structure_costing"
                            placeholder="Enter Structure Costing"
                            type="number"
                            :error="form.errors.structure_costing"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.structure_costing"
                            >
                                {{ form.errors.structure_costing }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Group Harga 1"
                        :class="{
                            'text-red-400': form.errors.group_hrgl_,
                        }"
                    >
                        <FormControl
                            v-model="form.group_hrgl_"
                            placeholder="Enter Structure Costing"
                            type="number"
                            :error="form.errors.group_hrgl_"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.group_hrgl_"
                            >
                                {{ form.errors.group_hrgl_ }}
                            </div>
                        </FormControl>
                    </FormField>
                </div>

                <template #footer>
                    <BaseButtons>
                        <BaseButton
                            type="submit"
                            color="info"
                            label="Submit"
                            :class="{ 'opacity-25': form.processing }"
                            :disabled="form.processing"
                        />
                    </BaseButtons>
                </template>
            </CardBox>
        </SectionMain>
    </LayoutAuthenticated>
</template>
