<script setup>
import { Head, Link, useForm, router } from "@inertiajs/vue3";
import { mdiAccountKey, mdiArrowLeftBoldOutline } from "@mdi/js";
import LayoutAuthenticated from "@/Layouts/LayoutAuthenticated.vue";
import SectionMain from "@/Components/SectionMain.vue";
import SectionTitleLineWithButton from "@/Components/SectionTitleLineWithButton.vue";
import CardBox from "@/Components/CardBox.vue";
import FormField from "@/Components/FormField.vue";
import FormControl from "@/Components/FormControl.vue";
import BaseButton from "@/Components/BaseButton.vue";
import BaseButtons from "@/Components/BaseButtons.vue";
import { ConfigUrl } from "@/config_url";
import axios from "@/axios";

const props = defineProps({
    token: String,
});

const form = useForm({
    company_code: "",
    company_name: "",
    address: "",
    country: "",
    currency_id: "",
    hirarchy: "",
    start_date: "",
    end_date: "",
    FM_Area: "",
});

const options = ["IDR", "YEN", "ZIM"];

function storeCompany() {
    const data = {
        company_code: form.company_code,
        company_name: form.company_name,
        address: form.address,
        country: form.country,
        currency_id: form.currency_id,
        hirarchy: form.hirarchy,
        start_date: form.start_date,
        end_date: form.end_date,
        FM_Area: form.FM_Area,
    };
    form.processing = true;
    axios
        .post(ConfigUrl.storeCompany, JSON.stringify(data), {
            headers: {
                // token: props.token,
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            console.log("berhasil");
            router.get(route("mastercomp"));
        })
        .catch(function (response) {
            alert(response);
        });
}
</script>

<template>
    <LayoutAuthenticated>
        <Head title="Add Company" />
        <SectionMain>
            <SectionTitleLineWithButton
                :icon="mdiAccountKey"
                title="Add Company"
                main
            >
                <BaseButton
                    :route-name="route('mastercomp')"
                    :icon="mdiArrowLeftBoldOutline"
                    label="Back"
                    color="white"
                    rounded-full
                    small
                />
            </SectionTitleLineWithButton>
            <CardBox form @submit.prevent="storeCompany">
                <div class="md:columns-3">
                    <FormField
                        label="Company Code"
                        :class="{ 'text-red-400': form.errors.company_code }"
                    >
                        <FormControl
                            v-model="form.company_code"
                            type="text"
                            placeholder="Enter Company Code"
                            :error="form.errors.company_code"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.company_code"
                            >
                                {{ form.errors.company_code }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Company Name"
                        :class="{ 'text-red-400': form.errors.company_name }"
                    >
                        <FormControl
                            v-model="form.company_name"
                            type="text"
                            placeholder="Enter Company Name"
                            :error="form.errors.company_name"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.company_name"
                            >
                                {{ form.errors.company_name }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Address"
                        :class="{ 'text-red-400': form.errors.address }"
                    >
                        <FormControl
                            v-model="form.address"
                            type="text"
                            placeholder="Enter Address"
                            :error="form.errors.address"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.address"
                            >
                                {{ form.errors.address }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Country"
                        :class="{ 'text-red-400': form.errors.country }"
                    >
                        <FormControl
                            v-model="form.country"
                            type="text"
                            placeholder="Enter Country"
                            :error="form.errors.country"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.country"
                            >
                                {{ form.errors.country }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Currency"
                        :class="{ 'text-red-400': form.errors.currency_id }"
                    >
                        <FormControl
                            v-model="form.currency_id"
                            type="select"
                            placeholder="Enter Currency"
                            :options="options"
                            :error="form.errors.currency_id"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.currency_id"
                            >
                                {{ form.errors.currency_id }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Hirarchy"
                        :class="{ 'text-red-400': form.errors.hirarchy }"
                    >
                        <FormControl
                            v-model="form.hirarchy"
                            type="text"
                            placeholder="Enter Hirarchy"
                            :error="form.errors.hirarchy"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.hirarchy"
                            >
                                {{ form.errors.hirarchy }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Start Date"
                        :class="{ 'text-red-400': form.errors.start_date }"
                    >
                        <FormControl
                            v-model="form.start_date"
                            type="date"
                            placeholder="Enter Start Date"
                            :error="form.errors.start_date"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.start_date"
                            >
                                {{ form.errors.start_date }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="End Date"
                        :class="{ 'text-red-400': form.errors.end_date }"
                    >
                        <FormControl
                            v-model="form.end_date"
                            type="date"
                            placeholder="Enter End Date"
                            :error="form.errors.end_date"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.end_date"
                            >
                                {{ form.errors.end_date }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="FM Area"
                        :class="{ 'text-red-400': form.errors.FM_Area }"
                    >
                        <FormControl
                            v-model="form.FM_Area"
                            type="text"
                            placeholder="Enter FM Area"
                            :error="form.errors.FM_Area"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.FM_Area"
                            >
                                {{ form.errors.FM_Area }}
                            </div>
                        </FormControl>
                    </FormField>
                </div>

                <template #footer>
                    <BaseButtons>
                        <BaseButton
                            type="submit"
                            color="info"
                            label="Submit"
                            :class="{ 'opacity-25': form.processing }"
                            :disabled="form.processing"
                        />
                    </BaseButtons>
                </template>
            </CardBox>
        </SectionMain>
    </LayoutAuthenticated>
</template>
