<script setup>
import { computed, ref, onMounted, reactive } from "vue";
import axios from "@/axios";
import { initFlowbite, Modal } from "flowbite";
import { useMainStore } from "@/Stores/main";
import * as chartConfig from "@/Components/Charts/chart.config.js";
import LineChart from "@/Components/Charts/LineChart.vue";
import {
    mdiAccountMultiple,
    mdiCartOutline,
    mdiChartTimelineVariant,
    mdiFinance,
    mdiMonitorCellphone,
    mdiReload,
    mdiGithub,
    mdiChartPie,
} from "@mdi/js";
import SectionMain from "@/Components/SectionMain.vue";
import CardBoxWidget from "@/Components/CardBoxWidget.vue";
import CardBox from "@/Components/CardBox.vue";
import TableSampleClients from "@/Components/TableSampleClients.vue";
import NotificationBar from "@/Components/NotificationBar.vue";
import BaseButton from "@/Components/BaseButton.vue";
import CardBoxTransaction from "@/Components/CardBoxTransaction.vue";
import CardBoxClient from "@/Components/CardBoxClient.vue";

import Skenario from "@/Pages/Submission/Skenario.vue";

import LayoutAuthenticated from "@/Layouts/LayoutAuthenticated.vue";
import SectionTitleLineWithButton from "@/Components/SectionTitleLineWithButton.vue";
import SectionBannerStarOnGitHub from "@/Components/SectionBannerStarOnGitHub.vue";
import Loading from "@/Helper/Loading.vue";
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import AutoComplete from 'primevue/autocomplete';
import FileUpload from 'primevue/fileupload';
import { ConfigUrl } from '@/config_url.js'

const chartData = ref(null);
const fillChartData = () => {
    chartData.value = chartConfig.sampleChartData();
};
onMounted(() => {
    fillChartData();
    initFlowbite();
    loadData();
});

const props = defineProps({
    id: Number,
    token: String,
});

const mainStore = useMainStore();

/* Fetch sample data */
// mainStore.fetch("clients");
// mainStore.fetch("history");

const clientBarItems = computed(() => mainStore.clients.slice(0, 4));
const transactionBarItems = computed(() => mainStore.history);

function loadData(){}
// function ajukan(action) {
//     isLoading.value = true;
//     const postBody = {
//         note: reason.value,
//     }
//     axion.post(`api/approval/{props.id}/{action}`, JSON.stringify(postBody), {
//         headers: {
//             "token": props.token,
//             "Content-Type": "application/json",
//         }
//     }).then(()=>{
//         isLoading.value = false;
//     }).catch(()=>{
//         isLoading.value = false;
//     })

// }

</script>

<style>
#supload .p-button {
    font-size: 12px;
    padding: 10px;
}
</style>

<template>
    <LayoutAuthenticated>

        <Head title="Form Submission" />
        <SectionMain>
            <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 mb-6">
                <CardBoxWidget trend-type="up" color="text-emerald-500" :icon="mdiAccountMultiple" :number="512"
                    label="Total Submission" />
                <CardBoxWidget trend-type="down" color="text-blue-500" :icon="mdiCartOutline" :number="7770" prefix="Rp"
                    label="Total Value Submission" />
                <CardBoxWidget trend-type="alert" color="text-red-500" :icon="mdiChartTimelineVariant" :number="78"
                    suffix="%" label="Total Approve" />
            </div>

            <SectionTitleLineWithButton :icon="mdiChartPie" title="Submission" />

            <div class="bg-white p-4">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="unitkerja" readonly v-model="unitkerja" id="unitkerja"
                        class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder="" required />
                    <label for="unitkerja"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Unit
                        Kerja <b>(readonly)</b></label>
                </div>

                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="entitas" readonly v-model="entitas" id="entitas"
                        class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="entitas"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Entitas
                        <b>(readonly)</b></label>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="dir" readonly id="dir" v-model="dir"
                        class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="dir"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dir
                        Bidang Holding <b>(readonly)</b></label>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="program" id="program"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="program"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Aktivitas
                        / Program</label>
                </div>
                <div class="relative z-0 w-full mb-12 group">
                    <input type="text" name="des_act" id="des_act"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="des_act"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description
                        Activity</label>
                </div>
                <div class="relative z-0 w-full mb-12 group">
                    <input type="text" name="des_act" id="des_act"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="des_act"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Activity
                        Background</label>
                </div>
                <div class="relative z-0 w-full mb-12 group">
                    <input type="text" name="des_act" id="des_act"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="des_act"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dampak
                        Aktivitas</label>
                </div>
                <div class="relative z-0 w-full mb-12 group">
                    <input type="text" name="des_act" id="des_act"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="des_act"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Resiko
                        Jika Tidak Dilakukan</label>
                </div>
                <div class="relative z-0 w-full mb-12 group">
                    <label for="des_act"
                        class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dokumen
                        Pendukung Terlampir</label>
                    <div id="supload" class="pt-4">
                        <FileUpload :multiple="true" mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            :maxFileSize="1000000" @upload="onUpload" />
                    </div>

                </div>




                <!-- <div class="relative z-0 w-full mb-12 group pt-4">
                     
                    <label
                        for="des_act"
                        class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        ><b>Untuk Bulan</b></label
                    >
                    <VueDatePicker v-model="month" month-picker />
                </div> -->

                <div class="float-right mb-3">
                    <button @click="tambahSkenario" type="button" style="font-size: 12px;"
                        class="mt-3 text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800">
                        + Tambah Skenario
                    </button>
                </div>

                <table class="table-auto" style="font-size:12px">
                    <thead>
                        <tr>
                            <th>Skenario Pembebanan</th>
                            <th>Jan</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Apr</th>
                            <th>Mei</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Okt</th>
                            <th>Nov</th>
                            <th>Des</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <button @click="ajukan" type="button" style="margin-top:100px;"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Submit
                </button> -->
            </div>
        </SectionMain>

        <!-- Main modal -->
        <div v-if="isModalPengajuan"
            class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full justify-center items-center flex"
            style="z-index: 999; background-color: rgb(0,0,0,0.3)">
            <Skenario :closeModal="closeModal" :token="props.token" />
        </div>

    </LayoutAuthenticated>
</template>
