<script setup>
import AsideMenuItem from '@/Components/AsideMenuItem.vue'
import { ref, watch } from 'vue'
import Helper from '@/helper'

const prop = defineProps({
  data: {
    type:Object
  },
  delete:{
    type: Function
  },
  ubah:{
    type: Function
  }
});

const totalAnggaran = ref(0);

watch(() => {
  a();
})

function a(){
    console.log(JSON.stringify(prop.data));
    if(prop.data.length >= 1){
        for(let i=0; i < prop.data.length; i++){
            totalAnggaran.value = totalAnggaran.value + prop.data[i].nominal;
        }
    }
}

function ubah(i){
    prop.ubah(i);
}

function hapus(i){
   prop.delete(i);
}


</script>

<template>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 rounded-l-lg">
                    Aktivitas Program
                </th>
                <th scope="col" class="px-6 py-3">
                    Cost Center
                </th>
                <th scope="col" class="px-6 py-3 rounded-r-lg">
                    Cost Element
                </th>
                <th scope="col" class="px-6 py-3 rounded-r-lg">
                    Akun / Jenis Biaya
                </th>
                <th scope="col" class="px-6 py-3 rounded-r-lg">
                    Nominal
                </th>
                <th scope="col" class="px-6 py-3 rounded-r-lg">
                    File Pendukung
                </th>
                 <th scope="col" class="px-6 py-3 rounded-r-lg" width="200">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
           
            <tr class="bg-white dark:bg-gray-800" v-for="(v,i) in data" v-bind:key="i" >
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ v.aktivitas_program }}
                </th>
                <td class="px-6 py-4">
                    {{ v.costcenter }}
                </td>
                <td class="px-6 py-4">
                    {{ v.akun_id }}
                </td>
                <td class="px-6 py-4">
                    {{ v.akun }}
                </td>
                <td class="px-6 py-4">
                    {{ v.nominal }}
                </td>
                <td class="px-6 py-4"></td>
                 <td class="px-6 py-4">
                   <button type="button" @click="ubah(i)" class="px-3 py-2 text-xs font-medium text-center text-white bg-yellow-700 rounded-lg hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-yellow-700 dark:focus:ring-blue-800">Ubah</button>
                   <button type="button" @click="hapus(i)" class="ml-3 px-3 py-2 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800">Hapus</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="font-semibold text-gray-900 dark:text-white">
                <th scope="row" class="px-6 py-3 text-base">Total</th>
                <td class="px-6 py-3"></td>
                 <td class="px-6 py-3"></td>
                  <td class="px-6 py-3 float-right">Rp</td>
                <td class="px-6 py-3">{{ Helper.numberWithCommas( totalAnggaran ) }}</td>
            </tr>
        </tfoot>
    </table>
</div>

</template>
