<script setup>
import { Head } from "@inertiajs/vue3";
import { computed, ref, onMounted } from "vue";
import { useMainStore } from "@/Stores/main";
import Loading from "@/Helper/Loading.vue";
import {
    mdiAccountMultiple,
    mdiCartOutline,
    mdiChartTimelineVariant,
    mdiFinance,
    mdiMonitorCellphone,
    mdiReload,
    mdiGithub,
    mdiChartPie,
    mdiFileDocumentMultiple,
    mdiFileDocument,
} from "@mdi/js";
import * as chartConfig from "@/Components/Charts/chart.config.js";
import LineChart from "@/Components/Charts/LineChart.vue";
import SectionMain from "@/Components/SectionMain.vue";
import CardBoxWidget from "@/Components/CardBoxWidget.vue";
import CardBox from "@/Components/CardBox.vue";
import TableSampleClients from "@/Components/TableSampleClients.vue";
import NotificationBar from "@/Components/NotificationBar.vue";
import LayoutAuthenticated from "@/Layouts/LayoutAuthenticated.vue";
import SectionTitleLineWithButton from "@/Components/SectionTitleLineWithButton.vue";
import axios from "@/axios";
import { ConfigUrl } from "@/config_url";
import { Pie } from 'vue-chartjs'
import { Chart as ChartJS, ArcElement, Tooltip, Legend } from 'chart.js'


ChartJS.register(ArcElement, Tooltip, Legend);

const props = defineProps({
    token: String,
});

const isLoadPie = ref(true);
const dataPie = ref({
  labels: ['Approve','In Progress', 'Reject'],
  datasets: [
    {
      backgroundColor: ['#41B883', '#00D8FF', '#DD1B16'],
      data: [0, 0, 0]
    }
  ]
})


const options = ref({
  responsive: true,
  maintainAspectRatio: false
})


const dataMaster = ref({
    countUser:0,
    countRpAllDocs:0,
    countRpApproveDocs:0,
    countAllDocs:0


});

const chartData = ref(null);
const fillChartData = () => {
    chartData.value = chartConfig.sampleChartData();
};
onMounted(() => {
    fillChartData();
    getData();
});
const mainStore = useMainStore();

/* Fetch sample data */
mainStore.fetch("clients");
mainStore.fetch("history");

function getData() {
    axios.get(ConfigUrl.getCountUser, {
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            console.log(response);
            dataMaster.value.countUser = response.data;
        })
        .catch(function (response) {
            alert(response);
        });

         axios.get(ConfigUrl.getAmountAllDocs, {
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            console.log(response);
            dataMaster.value.countRpAllDocs = response.data;
        })
        .catch(function (response) {
            alert(response);
        });

        axios.get(ConfigUrl.getAmountApproveDocs, {
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            console.log(response);
            dataMaster.value.countRpApproveDocs = response.data;
        })
        .catch(function (response) {
            alert(response);
        });

        axios.get(ConfigUrl.getCountAllDocs, {
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            console.log(response);
            dataMaster.value.countAllDocs = response.data;
        })
        .catch(function (response) {
            alert(response);
        });

        callPie();

}

async function callPie(){
      isLoadPie.value = true;
        await axios.get(ConfigUrl.getCountApproveDocs, {
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            console.log(response);
            dataPie.value.datasets[0].data[0] = response.data;
        })
        .catch(function (response) {
            alert(response);
        });

        await axios.get(ConfigUrl.getCountActiveDocs, {
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            console.log(response);
            dataPie.value.datasets[0].data[1] = response.data;
        })
        .catch(function (response) {
            alert(response);
        });

        await axios.get(ConfigUrl.getCountrejectDocs, {
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            console.log(response);
            dataPie.value.datasets[0].data[2] = response.data;
        })
        .catch(function (response) {
            alert(response);
        });

        isLoadPie.value = false;
}
   
const clientBarItems = computed(() => mainStore.clients.slice(0, 4));
const transactionBarItems = computed(() => mainStore.history);

</script>

<template>
    <LayoutAuthenticated>
        <Head title="Dashboard" />
        <SectionMain>

            <!-- <div class=""> 
                <img src="/img/opal.png" />
            </div> -->
            <SectionTitleLineWithButton
                :icon="mdiChartTimelineVariant"
                title="Overview"
                main
            >
            </SectionTitleLineWithButton>
            <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 mb-6">
                <CardBoxWidget
                    color="text-emerald-500"
                    :icon="mdiAccountMultiple"
                    :number="dataMaster.countUser"
                    label="Jumlah User"
                />
                <CardBoxWidget
                    color="text-blue-500"
                    :icon="mdiChartTimelineVariant"
                    :number="dataMaster.countRpAllDocs"
                    label="Total Pengajuan"
                />
                <CardBoxWidget
                    color="text-red-500"
                    :icon="mdiFinance"
                    :number="dataMaster.countRpApproveDocs"
                    label="Total Pengajuan Approve"
                />
                <!-- <CardBoxWidget
                    color="text-green-500"
                    :icon="mdiFileDocument"
                    :number="0"
                    prefix=""
                    label="Pending Document (X)"
                /> -->
            </div>

           

    <div class="grid grid-cols-3 gap-4">
   
    <div class="col-span-2">
        <CardBox>
        <div class="flex flex-col">
            <div> 
                <h3 class="text-lg leading-tight text-gray-500 dark:text-slate-400">Status Doc</h3>
            </div>
            <Loading :active="isLoadPie" />
            <div v-if="!isLoadPie">
                <div style="height:300px;"><Pie :data="dataPie" :options="options" /></div>
            </div>
        </div>
        </CardBox>
       
    </div>
    <div>
         <CardBoxWidget
                    color="text-blue-500"
                    :icon="mdiFileDocumentMultiple"
                    :number="dataMaster.countAllDocs"
                    label="Jumlah Pengajuan Doc"
                />
    </div>
    </div>



            <!-- <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
        <div class="flex flex-col justify-between">
          <CardBoxTransaction
            v-for="(transaction,index) in transactionBarItems"
            :key="index"
            :amount="transaction.amount"
            :date="transaction.date"
            :business="transaction.business"
            :type="transaction.type"
            :name="transaction.name"
            :account="transaction.account"
          />
        </div>
        <div class="flex flex-col justify-between">
          <CardBoxClient
            v-for="client in clientBarItems"
            :key="client.id"
            :name="client.name"
            :login="client.login"
            :date="client.created"
            :progress="client.progress"
          />
        </div>
      </div> -->

            <!-- <SectionTitleLineWithButton
                :icon="mdiAccountMultiple"
                title="Progress Document"
            /> -->

            <!-- <NotificationBar color="info" :icon="mdiMonitorCellphone">
                <b>Responsive table.</b> Collapses on mobile
            </NotificationBar> -->
<!-- 
            <CardBox
                :icon="mdiMonitorCellphone"
                title="Responsive table"
                has-table
            > -->
                <!-- <TableSampleClients />
            </CardBox> -->
        </SectionMain>
    </LayoutAuthenticated>

    
</template>
