@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "_checkbox-radio-switch.css";
@import "_progress.css";
@import "_scrollbars.css";
@import "_table.css";


.bg-gray-900{
    --tw-bg-opacity: 0.5 !important;
}

.pointer{
    cursor: pointer;
}