<script setup>
import { Head, Link, useForm, router } from "@inertiajs/vue3";
import { mdiAccountKey, mdiArrowLeftBoldOutline } from "@mdi/js";
import LayoutAuthenticated from "@/Layouts/LayoutAuthenticated.vue";
import SectionMain from "@/Components/SectionMain.vue";
import SectionTitleLineWithButton from "@/Components/SectionTitleLineWithButton.vue";
import CardBox from "@/Components/CardBox.vue";
import FormField from "@/Components/FormField.vue";
import FormControl from "@/Components/FormControl.vue";
import BaseButton from "@/Components/BaseButton.vue";
import BaseButtons from "@/Components/BaseButtons.vue";
import { ConfigUrl } from "@/config_url";
import axios from "@/axios";
import { onMounted, ref } from "vue";

const props = defineProps({
    token: String,

    code: {
        type: Object,
        default: () => ({}),
    },
});

// VARIABEL
let costCenter = ref([]);

let form = useForm({
    cost_ccost_center_id: "",
    enter_code: "",
    hirarchy: "",
    description: "",
    cost_center_category: "",
    company_id: "",
    currency_id: "",
    profit_center: "",
    start_date: "",
    end_date: "",
    cost_category_desc: "",
});

const options = ["IDR", "YEN", "ZIM"];

const options_comp = [
    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
];

// FUNCTION
function getData() {
    const searchData = {
        search: props.code.code,
    };
    axios
        .post(ConfigUrl.searchCostCenter, JSON.stringify(searchData), {
            headers: {
                // token: props.token,
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            costCenter.value = response.data.resultdata[0];
            form.cost_center_id = costCenter.value.id;
            form.cost_center_code = costCenter.value.cost_center_code;
            form.hirarchy = costCenter.value.hirarchy;
            form.description = costCenter.value.description;
            form.cost_center_category = costCenter.value.cost_center_category;
            form.company_id = costCenter.value.company_id;
            form.currency_id = costCenter.value.currency_id;
            form.profit_center = costCenter.value.profit_center;
            form.start_date = costCenter.value.start_date;
            form.end_date = costCenter.value.end_date;
            form.cost_category_desc = costCenter.value.cost_category_desc;
        })
        .catch(function (response) {
            alert(response);
        });
}

onMounted(() => {
    getData();
});

function updateCostCenter() {
    const data = {
        id: form.cost_center_id,
        cost_center_code: form.cost_center_code,
        hirarchy: form.hirarchy,
        description: form.description,
        cost_center_category: form.cost_center_category,
        company_id: form.company_id,
        currency_id: form.currency_id,
        profit_center: form.profit_center,
        start_date: form.start_date,
        end_date: form.end_date,
        cost_category_desc: form.cost_category_desc,
    };
    form.processing = true;
    axios
        .post(ConfigUrl.updateCostCenter, JSON.stringify(data), {
            headers: {
                // token: props.token,
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            router.get(route("mastercost"));
        })
        .catch(function (response) {
            alert(response);
        });
}
</script>

<template>
    <LayoutAuthenticated>
        <Head title="Edit Cost Center" />
        <SectionMain>
            <SectionTitleLineWithButton
                :icon="mdiAccountKey"
                title="Edit Cost Center"
                main
            >
                <BaseButton
                    :route-name="route('mastercost')"
                    :icon="mdiArrowLeftBoldOutline"
                    label="Back"
                    color="white"
                    rounded-full
                    small
                />
            </SectionTitleLineWithButton>
            <CardBox form @submit.prevent="updateCostCenter">
                <div class="md:columns-2">
                    <FormField
                        label="Cost Center Code"
                        :class="{
                            'text-red-400': form.errors.cost_center_code,
                        }"
                    >
                        <FormControl
                            v-model="form.cost_center_code"
                            type="text"
                            placeholder="Enter Cost Center Code"
                            :error="form.errors.cost_center_code"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.cost_center_code"
                            >
                                {{ form.errors.cost_center_code }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Hirarchy"
                        :class="{
                            'text-red-400': form.errors.hirarchy,
                        }"
                    >
                        <FormControl
                            v-model="form.hirarchy"
                            type="text"
                            placeholder="Enter Hirarchy"
                            :error="form.errors.hirarchy"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.hirarchy"
                            >
                                {{ form.errors.hirarchy }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Description"
                        :class="{
                            'text-red-400': form.errors.description,
                        }"
                    >
                        <FormControl
                            v-model="form.description"
                            type="text"
                            placeholder="Enter Description"
                            :error="form.errors.description"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.description"
                            >
                                {{ form.errors.description }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Cost Center Category"
                        :class="{
                            'text-red-400': form.errors.cost_center_category,
                        }"
                    >
                        <FormControl
                            v-model="form.cost_center_category"
                            type="number"
                            placeholder="Enter Cost Center Category"
                            :error="form.errors.cost_center_category"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.cost_center_category"
                            >
                                {{ form.errors.cost_center_category }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Company Id"
                        :class="{ 'text-red-400': form.errors.company_id }"
                    >
                        <FormControl
                            v-model="form.company_id"
                            type="select"
                            placeholder="Enter Company Id"
                            :options="options_comp"
                            :error="form.errors.company_id"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.company_id"
                            >
                                {{ form.errors.company_id }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Currency"
                        :class="{ 'text-red-400': form.errors.currency_id }"
                    >
                        <FormControl
                            v-model="form.currency_id"
                            type="select"
                            placeholder="Enter Currency"
                            :options="options"
                            :error="form.errors.currency_id"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.currency_id"
                            >
                                {{ form.errors.currency_id }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Profit Center"
                        :class="{ 'text-red-400': form.errors.profit_center }"
                    >
                        <FormControl
                            v-model="form.profit_center"
                            type="text"
                            placeholder="Enter Profit Center"
                            :error="form.errors.profit_center"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.profit_center"
                            >
                                {{ form.errors.profit_center }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Start Date"
                        :class="{ 'text-red-400': form.errors.start_date }"
                    >
                        <FormControl
                            v-model="form.start_date"
                            type="date"
                            placeholder="Enter Start Date"
                            :error="form.errors.start_date"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.start_date"
                            >
                                {{ form.errors.start_date }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="End Date"
                        :class="{ 'text-red-400': form.errors.end_date }"
                    >
                        <FormControl
                            v-model="form.end_date"
                            type="date"
                            placeholder="Enter End Date"
                            :error="form.errors.end_date"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.end_date"
                            >
                                {{ form.errors.end_date }}
                            </div>
                        </FormControl>
                    </FormField>

                    <FormField
                        label="Cost Category Description"
                        :class="{
                            'text-red-400': form.errors.cost_category_desc,
                        }"
                    >
                        <FormControl
                            v-model="form.cost_category_desc"
                            type="text"
                            placeholder="Enter Cost Category Description"
                            :error="form.errors.cost_category_desc"
                        >
                            <div
                                class="text-red-400 text-sm"
                                v-if="form.errors.cost_category_desc"
                            >
                                {{ form.errors.cost_category_desc }}
                            </div>
                        </FormControl>
                    </FormField>
                </div>

                <template #footer>
                    <BaseButtons>
                        <BaseButton
                            type="submit"
                            color="info"
                            label="Submit"
                            :class="{ 'opacity-25': form.processing }"
                            :disabled="form.processing"
                        />
                    </BaseButtons>
                </template>
            </CardBox>
        </SectionMain>
    </LayoutAuthenticated>
</template>
