<script setup>
import { Head, Link, useForm } from "@inertiajs/vue3";
import { mdiAccountKey, mdiArrowLeftBoldOutline } from "@mdi/js";
import LayoutAuthenticated from "@/Layouts/LayoutAuthenticated.vue";
import SectionMain from "@/Components/SectionMain.vue";
import SectionTitleLineWithButton from "@/Components/SectionTitleLineWithButton.vue";
import CardBox from "@/Components/CardBox.vue";
import FormField from "@/Components/FormField.vue";
import FormControl from "@/Components/FormControl.vue";
import FormCheckRadioGroup from "@/Components/FormCheckRadioGroup.vue";
import BaseDivider from "@/Components/BaseDivider.vue";
import BaseButton from "@/Components/BaseButton.vue";
import BaseButtons from "@/Components/BaseButtons.vue";
import { ConfigUrl } from "@/config_url";
import axios from "@/axios";
import { ref } from "vue";

const props = defineProps({
    roles: {
        type: Object,
        default: () => ({}),
    },
});

let sso_success = ref("");

const form = useForm({
    name: "",
    email: "",
    password: "",
    password_confirmation: "",
    nip: "",
    place_of_birth: "",
    date_of_birth: "",
    gender: "",
    address: "",
    roles: [],
});

function checkSSO() {
    const data = {
        email: form.email,
        password: form.password,
    };
    form.processing = true;
    axios
        .post(ConfigUrl.checkSSO, JSON.stringify(data), {
            headers: {
                // token: props.token,
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            form.processing = false;
            if (response.data.codestatus == true) {
                sso_success.value = true;
            } else {
                alert("Akun anda tidak terdaftar SSO");
            }
        })
        .catch(function (response) {
            alert(response);
        });
}

function login() {
    if (sso_success.value) {
        form.post(route("user.store"));
    } else {
        alert("Cek sync SSO dulu");
    }
}
</script>

<template>
    <LayoutAuthenticated>
        <Head title="Add user" />
        <SectionMain>
            <SectionTitleLineWithButton
                :icon="mdiAccountKey"
                title="Add user"
                main
            >
                <BaseButton
                    :route-name="route('user.index')"
                    :icon="mdiArrowLeftBoldOutline"
                    label="Back"
                    color="white"
                    rounded-full
                    small
                />
            </SectionTitleLineWithButton>
            <CardBox form @submit.prevent="login">
                <FormField
                    label="Name"
                    :class="{ 'text-red-400': form.errors.name }"
                >
                    <FormControl
                        v-model="form.name"
                        type="text"
                        placeholder="Enter Name"
                        :error="form.errors.name"
                    >
                        <div
                            class="text-red-400 text-sm"
                            v-if="form.errors.name"
                        >
                            {{ form.errors.name }}
                        </div>
                    </FormControl>
                </FormField>

                <FormField
                    label="NIP"
                    :class="{ 'text-red-400': form.errors.nip }"
                >
                    <FormControl
                        v-model="form.nip"
                        type="number"
                        placeholder="Enter Nip"
                        :error="form.errors.nip"
                    >
                        <div
                            class="text-red-400 text-sm"
                            v-if="form.errors.nip"
                        >
                            {{ form.errors.nip }}
                        </div>
                    </FormControl>
                </FormField>

                <FormField
                    label="Email"
                    :class="{ 'text-red-400': form.errors.email }"
                >
                    <FormControl
                        v-model="form.email"
                        type="email"
                        placeholder="Enter Email"
                        :error="form.errors.email"
                    >
                        <div
                            class="text-red-400 text-sm"
                            v-if="form.errors.email"
                        >
                            {{ form.errors.email }}
                        </div>
                    </FormControl>
                </FormField>
                <BaseButton
                    v-if="sso_success == false"
                    color="danger"
                    label="Sync With SSO"
                    class="text-sm mb-3"
                    :class="{
                        'opacity-25': form.processing,
                    }"
                    :disabled="form.processing"
                    @click="checkSSO"
                />

                <BaseButton
                    v-if="sso_success == true"
                    color="success"
                    label="SSO Success"
                    class="text-sm mb-3"
                    disabled
                />    
                
                <FormField
                    label="Place Of Birth"
                    :class="{ 'text-red-400': form.errors.place_of_birth }"
                >
                    <FormControl
                        v-model="form.place_of_birth"
                        type="text"
                        placeholder="Kota Kelahiran"
                        :error="form.errors.place_of_birth"
                    >
                        <div
                            class="text-red-400 text-sm"
                            v-if="form.errors.place_of_birth"
                        >
                            {{ form.errors.place_of_birth }}
                        </div>
                    </FormControl>
                </FormField>

                <FormField
                    label="Date Of Birty"
                    :class="{ 'text-red-400': form.errors.date_of_birth }"
                >
                    <FormControl
                        v-model="form.date_of_birth"
                        type="date"
                        placeholder="Enter Birth"
                        :error="form.errors.date_of_birth"
                    >
                        <div
                            class="text-red-400 text-sm"
                            v-if="form.errors.date_of_birth"
                        >
                            {{ form.errors.date_of_birth }}
                        </div>
                    </FormControl>
                </FormField>

                <FormField
                    label="Gender"
                    :class="{ 'text-red-400': form.errors.name }"
                >
                    <FormControl
                        v-model="form.gender"
                        type="text"
                        placeholder="Enter Gender"
                        :error="form.errors.name"
                    >
                        <div
                            class="text-red-400 text-sm"
                            v-if="form.errors.name"
                        >
                            {{ form.errors.name }}
                        </div>
                    </FormControl>
                </FormField>

                <FormField
                    label="Address"
                    :class="{ 'text-red-400': form.errors.address }"
                >
                    <FormControl
                        v-model="form.address"
                        type="text"
                        placeholder="Address"
                        :error="form.errors.address"
                    >
                        <div
                            class="text-red-400 text-sm"
                            v-if="form.errors.name"
                        >
                            {{ form.errors.name }}
                        </div>
                    </FormControl>
                </FormField>

                <!-- <FormField
                    label="Image"
                    :class="{ 'text-red-400': form.errors.name }"
                >
                    <FormControl
                        v-model="form.name"
                        type="text"
                        placeholder="Enter Name"
                        :error="form.errors.name"
                    >
                        <div
                            class="text-red-400 text-sm"
                            v-if="form.errors.name"
                        >
                            {{ form.errors.name }}
                        </div>
                    </FormControl>
                </FormField> -->

                <!-- <FormField
                    label="Password"
                    :class="{ 'text-red-400': form.errors.password }"
                >
                    <FormControl
                        v-model="form.password"
                        type="password"
                        placeholder="Enter Password"
                        :error="form.errors.password"
                    >
                        <div
                            class="text-red-400 text-sm"
                            v-if="form.errors.password"
                        >
                            {{ form.errors.password }}
                        </div>
                    </FormControl>
                </FormField>

                <FormField
                    label="Password Confirmation"
                    :class="{ 'text-red-400': form.errors.password }"
                >
                    <FormControl
                        v-model="form.password_confirmation"
                        type="password"
                        placeholder="Enter Password Confirmation"
                        :error="form.errors.password"
                    >
                        <div
                            class="text-red-400 text-sm"
                            v-if="form.errors.password"
                        >
                            {{ form.errors.password }}
                        </div>
                    </FormControl>
                </FormField> -->

                <BaseDivider />

                <FormField label="Roles" wrap-body>
                    <FormCheckRadioGroup
                        v-model="form.roles"
                        name="roles"
                        is-column
                        :options="props.roles"
                    />
                </FormField>

                <template #footer>
                    <BaseButtons>
                        <BaseButton
                            type="submit"
                            color="info"
                            label="Submit"
                            :class="{ 'opacity-25': form.processing }"
                            :disabled="form.processing"
                        />
                    </BaseButtons>
                </template>
            </CardBox>
        </SectionMain>
    </LayoutAuthenticated>
</template>
