<script setup>
import { Head, Link, useForm } from "@inertiajs/vue3"
import {
  mdiAccountKey,
  mdiArrowLeftBoldOutline
} from "@mdi/js"
import LayoutAuthenticated from "@/Layouts/LayoutAuthenticated.vue"
import SectionMain from "@/Components/SectionMain.vue"
import SectionTitleLineWithButton from "@/Components/SectionTitleLineWithButton.vue"
import CardBox from "@/Components/CardBox.vue"
import FormField from '@/Components/FormField.vue'
import FormControl from '@/Components/FormControl.vue'
import FormCheckRadioGroup from '@/Components/FormCheckRadioGroup.vue'
import BaseDivider from '@/Components/BaseDivider.vue'
import BaseButton from '@/Components/BaseButton.vue'
import BaseButtons from '@/Components/BaseButtons.vue'

const props = defineProps({
  user: {
    type: Object,
    default: () => ({}),
  },
  roles: {
    type: Object,
    default: () => ({}),
  },
  user_info: {
    type: Object,
    default: () => ({}),
  },
  userHasRoles: {
    type: Object,
    default: () => ({}),
  }
})

const form = useForm({
  _method: 'put',
  nip: props.user.id,
  name: props.user.name,
  email: props.user.email,
  password: '',
  password_confirmation: '',
  place_of_birth: props.user_info[0].place_of_birth,
  date_of_birth: props.user_info[0].date_of_birth,
  gender: props.user_info[0].gender,
  address: props.user_info[0].address,

  roles: props.userHasRoles
})
</script>

<template>
  <LayoutAuthenticated>
    <Head title="Update user" />
    <SectionMain>
      <SectionTitleLineWithButton
        :icon="mdiAccountKey"
        title="Update user"
        main
      >
        <BaseButton
          :route-name="route('user.index')"
          :icon="mdiArrowLeftBoldOutline"
          label="Back"
          color="white"
          rounded-full
          small
        />
      </SectionTitleLineWithButton>
      <CardBox
        form
        @submit.prevent="form.post(route('user.update', props.user.id))"
      >
       
        <FormField
          label="No Badge (NIP)"
          :class="{ 'text-red-400': form.errors.name }"
        >
          <FormControl
            v-model="form.nip"
            type="number"
            placeholder="No Badge"
            :error="form.errors.nip"
          >
            <div class="text-red-400 text-sm" v-if="form.errors.nip">
              {{ form.errors.nip }}
            </div>
          </FormControl>
        </FormField>
        <FormField
          label="Enter Name"
          :class="{ 'text-red-400': form.errors.name }"
        >
          <FormControl
            v-model="form.name"
            type="text"
            placeholder="Name"
            :error="form.errors.name"
          >
            <div class="text-red-400 text-sm" v-if="form.errors.name">
              {{ form.errors.name }}
            </div>
          </FormControl>
        </FormField>

        <FormField
          label="Enter Email"
          :class="{ 'text-red-400': form.errors.email }"
        >
          <FormControl
            v-model="form.email"
            type="text"
            placeholder="Email"
            :error="form.errors.email"
          >
            <div class="text-red-400 text-sm" v-if="form.errors.email">
              {{ form.errors.email }}
            </div>
          </FormControl>
        </FormField>
        <BaseButton
              color="danger"
              label="Sync With SSO"
              class="text-sm mb-3"
              :class="{ 'opacity-25': form.processing }"
              :disabled="form.processing"
          />
          <FormField
              label="Place Of Birth"
              :class="{ 'text-red-400': form.errors.place_of_birth }"
          >
              <FormControl
                  v-model="form.place_of_birth"
                  type="text"
                  placeholder="Enter Name"
                  :error="form.errors.place_of_birth"
              >
                  <div
                      class="text-red-400 text-sm"
                      v-if="form.errors.place_of_birth"
                  >
                      {{ form.errors.place_of_birth }}
                  </div>
              </FormControl>
          </FormField>

          <FormField
              label="Date Of Birty"
              :class="{ 'text-red-400': form.errors.date_of_birth }"
          >
              <FormControl
                  v-model="form.date_of_birth"
                  type="date"
                  placeholder="Enter Name"
                  :error="form.errors.date_of_birth"
              >
                  <div
                      class="text-red-400 text-sm"
                      v-if="form.errors.date_of_birth"
                  >
                      {{ form.errors.date_of_birth }}
                  </div>
              </FormControl>
          </FormField>

          <FormField
              label="Gender"
              :class="{ 'text-red-400': form.errors.gender }"
          >
              <FormControl
                  v-model="form.gender"
                  type="text"
                  placeholder="Enter Name"
                  :error="form.errors.gender"
              >
                  <div
                      class="text-red-400 text-sm"
                      v-if="form.errors.gender"
                  >
                      {{ form.errors.gender }}
                  </div>
              </FormControl>
          </FormField>

          <FormField
              label="Address"
              :class="{ 'text-red-400': form.errors.address }"
          >
              <FormControl
                  v-model="form.address"
                  type="text"
                  placeholder="Enter Name"
                  :error="form.errors.address"
              >
                  <div
                      class="text-red-400 text-sm"
                      v-if="form.errors.address"
                  >
                      {{ form.errors.address }}
                  </div>
              </FormControl>
          </FormField>

                <!-- <FormField
                    label="Image"
                    :class="{ 'text-red-400': form.errors.image_url }"
                >
                    <FormControl
                        v-model="form.image_url"
                        type="text"
                        placeholder="Enter Name"
                        :error="form.errors.image_url"
                    >
                        <div
                            class="text-red-400 text-sm"
                            v-if="form.errors.image_url"
                        >
                            {{ form.errors.image_url }}
                        </div>
                    </FormControl>
                </FormField> -->
        <!-- <FormField
          label="Password"
          :class="{ 'text-red-400': form.errors.password }"
        >
          <FormControl
            v-model="form.password"
            type="password"
            placeholder="Enter Password"
            :error="form.errors.password"
          >
            <div class="text-red-400 text-sm" v-if="form.errors.password">
              {{ form.errors.password }}
            </div>
          </FormControl>
        </FormField>

        <FormField
          label="Password Confirmation"
          :class="{ 'text-red-400': form.errors.password }"
        >
          <FormControl
            v-model="form.password_confirmation"
            type="password"
            placeholder="Enter Password Confirmation"
            :error="form.errors.password"
          >
            <div class="text-red-400 text-sm" v-if="form.errors.password">
              {{ form.errors.password }}
            </div>
          </FormControl>
        </FormField> -->

        <BaseDivider />

        <FormField
          label="Roles"
          wrap-body
        >
          <FormCheckRadioGroup
            v-model="form.roles"
            name="roles"
            is-column
            :options="props.roles"
          />
        </FormField>

        <template #footer>
          <BaseButtons>
            <BaseButton
              type="submit"
              color="info"
              label="Submit"
              :class="{ 'opacity-25': form.processing }"
              :disabled="form.processing"
            />
          </BaseButtons>
        </template>
      </CardBox>
    </SectionMain>
  </LayoutAuthenticated>
</template>
