<script setup>
import { Head, router } from "@inertiajs/vue3";
import { computed, ref, onMounted } from "vue";
import { initFlowbite } from "flowbite";
import axios from "@/axios";
import { mdiPlus, mdiEye, mdiChartPie } from "@mdi/js";
import { useMainStore } from "@/Stores/main";
import * as chartConfig from "@/Components/Charts/chart.config.js";
import SectionMain from "@/Components/SectionMain.vue";
import BaseButton from "@/Components/BaseButton.vue";
import LayoutAuthenticated from "@/Layouts/LayoutAuthenticated.vue";
import SectionTitleLineWithButton from "@/Components/SectionTitleLineWithButton.vue";
import Loading from "@/Helper/Loading.vue";
import { ConfigUrl } from "@/config_url.js";
import { perpage } from "@/config.js";
import Helper from "@/helper";

const chartData = ref(null);
const title = ref("");
const fillChartData = () => {
    chartData.value = chartConfig.sampleChartData();
};
onMounted(() => {
    fillChartData(), initFlowbite(), getDataMaster(), checkTitle();
});

const props = defineProps({
    token: String,
    role: {
        type: String,
        default: "UK",
    },
});

const mainStore = useMainStore();

/* Fetch sample data */
// mainStore.fetch("clients");
// mainStore.fetch("history");

const clientBarItems = computed(() => mainStore.clients.slice(0, 4));
const transactionBarItems = computed(() => mainStore.history);
const modalRef = ref(null);

//----- standart table [start]

const isLoadingDM = ref(false);
let dataMaster = ref([]);
const number_perpage = ref(perpage);
const number_data_all = ref(1);

const number_page = ref(1);
const number_page_max = ref(1);
const number_page_min = ref(1);

const number_show_from = ref(0);
const number_show_to = ref(0);
const searchGetList = ref("");

function nextData() {
    if (number_page.value < number_page_max.value) {
        number_page.value = number_page.value + 1;
        getDataMaster();
    }
}

function prevData() {
    if (number_page.value > number_page_min.value) {
        number_page.value = number_page.value - 1;
        getDataMaster();
    }
}

function searchData(){
    getDataMaster();
}

function getDataMaster(page = null) {
    if (page != null) {
        number_page.value = page;
    }

    const urlParams = new URLSearchParams();
    if(searchGetList.value != ""){
        urlParams.set('number', searchGetList.value);
    }

    dataMaster.value = [];
    isLoadingDM.value = true;

    axios
        .post(
            ConfigUrl.getApprovalHistory + "?" + urlParams.toString(),
            JSON.stringify({
                perpage: number_perpage.value,
                page: number_page.value,
            }),
            {
                headers: {
                    // token: props.token,
                    "Content-Type": "application/json",
                },
            }
        )
        .then(function (response) {
            isLoadingDM.value = false;

            dataMaster.value = response.data.resultdata;
            number_data_all.value = response.data.pagination.totaldata;

            //-- set page [start]
            number_page_max.value = Math.ceil(
                number_data_all.value / number_perpage.value
            );

            number_show_to.value = number_page.value * number_perpage.value;
            if (number_show_to.value > number_data_all.value) {
                number_show_to.value = number_data_all.value;
            }

            if (number_page.value == 1) {
                number_show_from.value = 1;
            } else {
                number_show_from.value =
                    1 + (number_page.value - 1) * number_perpage.value;
            }
            console.log(dataMaster.value);
            //-- set page [end]
        })
        .catch(function (response) {
            isLoadingDM.value = false;
            alert(response);
            //handle error
        });
}

function checkTitle() {
    title.value = "History MyApprove";
}
function look(id, isholding, p) {
    if (isholding == true) {
        router.get(route("submission-uk.view", { id: id, p: p }));
    } else {
        router.get(route("submission-ap.view", { id: id, p: p }));
    }
}
</script>

<template>
    <LayoutAuthenticated>
        <Head :title="title" />
        <SectionMain>
            <SectionTitleLineWithButton :icon="mdiChartPie" :title="title" />
            <div class="bg-white p-4">
                <div
                    class="relative overflow-x-auto shadow-md sm:rounded-lg p-2"
                >
                    <div class="grid grid-cols-4 gap-4 mb-3">
                        <div>
                            <label class="relative block">
                                <span class="sr-only">Search</span>
                                <span
                                    class="absolute inset-y-0 left-0 flex items-center pl-2"
                                >
                                    <svg
                                        class="h-5 w-5 fill-slate-300"
                                        viewBox="0 0 20 20"
                                    >
                                        <!-- ... -->
                                    </svg>
                                </span>
                                <input
                                    class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
                                    placeholder="Search No Doc..."
                                    type="text"
                                    v-model="searchGetList"
                                    name="search"
                                />
                            </label>
                        </div>
                        <!-- ... -->
                        <div>
                            <button
                                @click="searchData"
                                class="px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm"
                            >
                                Cari
                            </button>
                        </div>
                    </div>
                    <table
                        class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
                    >
                        <thead
                            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                        >
                            <tr>
                                <th scope="col" class="px-6 py-3">No Doc</th>
                                <th scope="col" class="px-6 py-3">Tahun</th>
                                <th scope="col" class="px-6 py-3">Status</th>
                                <th scope="col" class="px-6 py-3">
                                    Total Ajuan
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Tanggal Dibuat
                                </th>
                                <th scope="col" class="px-6 py-3">Aktifitas</th>
                                <th scope="col" class="px-6 py-3">Action</th>


                            </tr>
                        </thead>
                        <tbody v-if="dataMaster.length">
                            <template
                                v-for="(v, i) in dataMaster"
                                v-bind:key="i"
                            >
                                <tr
                                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                                >
                                    <th
                                        scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                    >
                                        {{ v.number }}
                                    </th>
                                    <td class="px-6 py-4">
                                        {{ v.tahun }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ v.name_status }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ Helper.numberWithCommas(v.opex) }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{
                                            Helper.changeFormatDateMoment(
                                                v.created_at
                                            )
                                        }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ v.aktifitas }}
                                    </td>
                                    <td
                                        class="before:hidden lg:w-1 whitespace-nowrap"
                                    >
                                        <BaseButtons
                                            type="justify-start lg:justify-end"
                                            no-wrap
                                        >
                                            <BaseButton
                                                color="danger"
                                                :icon="mdiEye"
                                                small
                                                @click="
                                                    look(
                                                        v.trans_doc_id,
                                                        v.is_holding,
                                                        v.opex
                                                    )
                                                "
                                            />
                                        </BaseButtons>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td colspan="7" class="text-center p-5">
                                    Data Kosong
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div
                        v-if="isLoadingDM"
                        class="container"
                        style="width: 100%; text-align: -webkit-center"
                    >
                        <Loading :active="true" />
                    </div>

                    <nav
                        class="flex items-center justify-between pt-4"
                        aria-label="Table navigation"
                    >
                        <span
                            class="text-sm font-normal text-gray-500 dark:text-gray-400"
                            >Showing
                            <span
                                class="font-semibold text-gray-900 dark:text-white"
                                >{{ number_show_from }}-{{
                                    number_show_to
                                }}</span
                            >
                            of
                            <span
                                class="font-semibold text-gray-900 dark:text-white"
                                >{{ number_data_all }}</span
                            ></span
                        >
                        <ul class="inline-flex items-center -space-x-px">
                            <li>
                                <a
                                    @click="prevData"
                                    class="pointer block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                >
                                    <span class="sr-only">Previous</span>
                                    <svg
                                        class="w-5 h-5"
                                        aria-hidden="true"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                            clip-rule="evenodd"
                                        ></path>
                                    </svg>
                                </a>
                            </li>

                            <template v-if="number_page_max <= 5">
                                <li v-for="(n, i) in number_page_max" :key="i">
                                    <a
                                        v-if="n != number_page"
                                        href="#"
                                        @click="getDataMaster(n)"
                                        class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                        >{{ n }}</a
                                    >
                                    <a
                                        v-if="n == number_page"
                                        href="#"
                                        class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                                        >{{ n }}</a
                                    >
                                </li>
                            </template>

                            <template v-if="number_page_max > 5">
                                <template
                                    v-for="(n, i) in number_page_max"
                                    :key="i"
                                >
                                    <li
                                        v-if="
                                            n == number_page - 2 ||
                                            n == number_page - 1 ||
                                            n == number_page + 1 ||
                                            n == number_page + 2 ||
                                            (n == number_page + 3 &&
                                                number_page == 1) ||
                                            (n == number_page + 4 &&
                                                number_page == 1) ||
                                            (n == number_page + 3 &&
                                                number_page == 2)
                                        "
                                    >
                                        <a
                                            href="#"
                                            @click="getDataMaster(n)"
                                            class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                            >{{ n }}</a
                                        >
                                    </li>

                                    <li v-if="n == number_page">
                                        <a
                                            href="#"
                                            class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                                            >{{ n }}</a
                                        >
                                    </li>
                                </template>
                            </template>

                            <li>
                                <a
                                    @click="nextData"
                                    class="pointer block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                >
                                    <span class="sr-only">Next</span>
                                    <svg
                                        class="w-5 h-5"
                                        aria-hidden="true"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"
                                        ></path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </SectionMain>
    </LayoutAuthenticated>
</template>
