<script setup>

// Import the method.
import { useLoading } from 'vue3-loading-overlay';
// Import stylesheet
import 'vue3-loading-overlay/dist/vue3-loading-overlay.css';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/css/index.css';


const props = defineProps({
  active: {
    type: Boolean,
    default: false
  }
})


</script>

<template>
     <div style="height:20px; position: relative; width:50px;">
        <loading 
            loader="bars"
            :active="props.active" 
            :can-cancel="false" 
            :is-full-page="false">
        </loading>
    </div>
</template>