<script setup>
import { computed, ref, onMounted, reactive } from "vue";
import { Head, Link, useForm, router, usePage } from "@inertiajs/vue3";
import axios from "@/axios";
import { initFlowbite, Modal } from "flowbite";
import { useMainStore } from "@/Stores/main";
import * as chartConfig from "@/Components/Charts/chart.config.js";
import LineChart from "@/Components/Charts/LineChart.vue";
import { mdiPencilBoxOutline } from "@mdi/js";
import {
    mdiAccountMultiple,
    mdiCartOutline,
    mdiChartTimelineVariant,
    mdiFinance,
    mdiMonitorCellphone,
    mdiReload,
    mdiGithub,
    mdiChartPie,
    mdiTrashCan,
} from "@mdi/js";

import SectionMain from "@/Components/SectionMain.vue";
import CardBoxWidget from "@/Components/CardBoxWidget.vue";
import CardBox from "@/Components/CardBox.vue";
import TableSampleClients from "@/Components/TableSampleClients.vue";
import NotificationBar from "@/Components/NotificationBar.vue";
import BaseButton from "@/Components/BaseButton.vue";
import CardBoxTransaction from "@/Components/CardBoxTransaction.vue";
import CardBoxClient from "@/Components/CardBoxClient.vue";

import { QuillEditor } from "@vueup/vue-quill";
import "@vueup/vue-quill/dist/vue-quill.snow.css";
import helper from "@/helper";

import FormField from "@/Components/FormField.vue";
import FormControl from "@/Components/FormControl.vue";
import BaseIcon from "@/Components/BaseIcon.vue";
import Skenario from "@/Pages/UnfreezeBudgetAP/Skenario.vue";
import LayoutAuthenticated from "@/Layouts/LayoutAuthenticated.vue";
import SectionTitleLineWithButton from "@/Components/SectionTitleLineWithButton.vue";
import SectionBannerStarOnGitHub from "@/Components/SectionBannerStarOnGitHub.vue";
import Loading from "@/Helper/Loading.vue";
import VueDatePicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import AutoComplete from "primevue/autocomplete";
import FileUpload from "primevue/fileupload";
import { ConfigUrl } from "@/config_url.js";
import { useToast } from "primevue/usetoast";
import Toast from "primevue/toast";

const props = defineProps({
    token: String,
    doc_id: String,
    role: {
        type: String,
        default: "UK",
    },
    view: "N",
    p:"",
    aproval:""
});

const toast = useToast();

const chartData = ref(null);
const fillChartData = () => {
    chartData.value = chartConfig.sampleChartData();
};
const dataConstCenter = ref([]);
const dataEntitas = ref([]);
const costcenterName = ref("");
const button_approve = ref(false);
const button_approve_reason = ref(false);
const button_reject = ref(false);
const button_revisi = ref(false);
const button_submit_edit = ref(false);
const button_submit_save = ref(true);
const editable = ref(true);
const button_save_draft = ref(false);

const show_rekomendasi = ref(false);

const userRoles = computed(() => usePage().props.auth.user.roles[0].name);
const totalPengajuan = ref("");
// paramter reason ini digunakan untuk alasan pada button approve reason, reject dan revisi
const reason = ref("");

// role ini digunakna untuk apakah document ini berada di PAK atau bukan
const ispak = ref(false);

// role ini digunakna untuk apakah document ini berada di DirKEU atau bukan
const isdirkeu = ref(false);

const id_doc = ref("");
const file = ref([]);

const isLoadingButtonApprove = ref(false);
const filesDocLoad = ref(0);
const isLoading = ref(false);


// ini digunakan untuk mendenisikan langsung nilai dari form catata keuangan.
// let catatanKeuangan = ref(
//     "<p><strong>Kaitan dengan volume penjualan</strong></p><p>Tidak Langsung / Langsung</p><p><br></p><p><strong>Tambahan Poin Perhatian </strong></p><p><br></p><p><br></p><p><strong>Skenario Beban</strong></p><p><br></p><p><strong>Dampak Biaya jika Unfrezee disetujui sesuai ajuan</strong></p><p><br></p><p><strong>Risiko operasional jika unfrezee tidak sesuai ujuan</strong></p><p>Operasional rutin </p><p><br></p><p><strong>Rekomendasi FPA</strong></p><ol><li>Ajuan Unfreze</li></ol>"
// );

const catatanKeuangan = ref("");

onMounted(async () => {
    fillChartData();
    initFlowbite();

    await getdata();
    getCekPage();

    console.log("token : " + props.token);
    console.log("doc_id : " + props.doc_id);
    console.log("role : " + props.role);
});

// Fungsi ini digunakan untuk megeceka apakah dokumen ini adalah dokumen create / edit / readonly.
function getCekPage() {
    if (props.doc_id != null && props.doc_id != "") {
        let dataURL = ConfigUrl.getApproveDe;
        if(props.view == "Y2"){
            dataURL = ConfigUrl.getreportSubmissionView;
        }

        var params = new URLSearchParams();
        // console.log(params)
        params.append("id", props.doc_id);

        axios
            .post(dataURL, params, {
                headers: {
                    // token: props.token,
                    "Content-Type": "application/x-www-form-urlencoded",
                },
            })
            .then(function (response) {
                console.log(response);
                let statusdoc = response.data.resultdata.statusdoc;
                let data_support = response.data.resultdata.data_support;
                let data_transdoc = response.data.resultdata.transdoc;
                let data = response.data.resultdata.data;

                unitkerja_name.value = data_transdoc.dir_bidang_name;
                //button ini dinamis dari server. Button ini digunakan untuk button approve, edit, create. Jadi satu. setiap doc bisa berbeda button
                // yang berfungsi
                button_approve.value = statusdoc.button_approve;
                button_approve_reason.value = statusdoc.button_approvereason;
                button_reject.value = statusdoc.button_reject;
                button_revisi.value = statusdoc.button_revisi;
                button_submit_edit.value = statusdoc.button_submit_edit;
                button_submit_save.value =  statusdoc.button_submit_save;
                editable.value = statusdoc.editable;

                if( typeof(statusdoc.show_rekomendasi) != 'defined' ){
                    show_rekomendasi.value = statusdoc.show_rekomendasi;
                }

                totalPengajuan.value = props.p == "" || props.p == null || typeof props.p == 'undefined' ? data.opex : props.p;
                costcenterName.value =
                    response.data.resultdata.dir_bidang_name;
                file.value = data_support.files;

                dampak_pak.value =  helper.numberWithCommasAndConvert(data.dampak_pak);
                resiko_pak.value = data.resiko_pak;
                rekomendasi_pak.value = data.rekomendasi_pak;
                point_perhatian_pak.value = data.point_perhatian_pak;
                is_kaitan_langsung_volume_penjualan.value = data.is_kaitan_langsung == undefined ? false : data.is_kaitan_langsung ;
                is_kaitan_tidak_langsung_volume_penjualan.value = data.is_kaitan_tidak_langsung == undefined ? false : data.is_kaitan_tidak_langsung ;
                // agar dokumen ini tahu bahwa status doc ini berada di user PAK atau bukan.
                // !cek apakah statusdoc.ispak ini sudah ada atau belum
                if (statusdoc.isPAK != null) {
                    ispak.value = statusdoc.isPAK;
                }

                // agar dokumen ini tahu bahwa status doc ini berada di user Dirut Keuangan atau bukan.
                // !cek apakah statusdoc.isdirkeu ini sudah ada atau belum
                if (statusdoc.isdirkeu != null) {
                    isdirkeu.value = statusdoc.isdirkeu;
                }

                id_doc.value = data_support.trans_doc_id;

                // comman ini artinya adlah edit, dimana semua data didefinisikan. agar bisa terlihat
                dataSkenarioPusat.value = data.skenario;
                entitas.value = data.company_id;

                for (let i = 0; i < dataEntitas.value.length; i++) {
                    if( dataEntitas.value[i].id == entitas.value ){
                        entitas_name.value = dataEntitas.value[i].company_name;
                        break;
                    }
                }


                isPengajuanNol.value = false;

                aktivitas.value = data.aktivitas;
                description.value = data.description;
                activitybg.value = data.activity_background;
                dampak.value = data.dampak_aktivitas;
                resiko.value = data.resiko;
                v_dir.value = data.dir_bidang_id == null ? 0 : data.dir_bidang_id ;
                v_dir_id.value = data.dir_bidang_id == null ? 0 : data.dir_bidang_id ;
                v_dir_name.value = data.dir_id_name;

                dampak_atas.value = data.dampak_atas;
                dampak_tidak_sesuai_ajuan.value = data.dampak_tidak_sesuai_ajuan;
                dampak_tidak_sesuai_realisasi.value = data.dampak_tidak_sesuai_realisasi;
                dampak_sesuai_rekomendasi.value =  helper.numberWithCommasAndConvert(data.dampak_sesuai_rekomendasi);
                rekomendasi_tambah.value =  helper.numberWithCommasAndConvert(data.rekomendasi_tambah);

                catatanKeuangan.value = data.catatanpak;
                unitkerja.value = data.costcenter_id;

                for (let i = 0; i < dataDir.value.length; i++) {
                    if (dataDir.value[i].id == v_dir_id.value) {
                        v_dir_name.value = dataDir.value[i].name;
                        break;
                    }
                }

                // if(props.view == "Y2"){
                //     button_approve.value = false;
                //     button_approve_reason.value = false;
                //     button_reject.value = false;
                //     button_revisi.value = false;
                //     button_submit_edit.value = false;
                //     button_submit_save.value =false;
                //     editable.value = false;
                // }

            })
            .catch(function (response) {
                console.log(response);
            });

        let datapage = {
            resultdata: {
                data_support: {
                    id: 1,
                },
                data: {},
            },
        };
    }
}

const month = ref({
    month: new Date().getMonth(),
    year: new Date().getFullYear(),
});

const mainStore = useMainStore();

const clientBarItems = computed(() => mainStore.clients.slice(0, 4));
const transactionBarItems = computed(() => mainStore.history);
const validateFileSize = ref(false);
const inputsFile = ref([]);
let unitkerja = ref("Unit Kerjaku");
let unitkerja_name = ref("");
let entitas = ref("Entitas ku");
let entitas_name = ref("");
let dir = ref("Dirku");

const aktivitas = ref("");
const description = ref("");
const activitybg = ref("");
const dampak = ref("");
const resiko = ref("");
const dokumenterlampir = ref("");
const modal_costelement = ref();
const point_perhatian_pak = ref("");
const rekomendasi_pak = ref("");
const resiko_pak = ref("");
const dampak_pak = ref(0);
const is_kaitan_langsung_volume_penjualan = ref(false);
const is_kaitan_tidak_langsung_volume_penjualan = ref(false);

const ubahUrut = ref();
const isModalPengajuan = ref(false);
const isModalConfirm = ref(false);

function closeModal() {
    isEdit.value = false;
    isModalPengajuan.value = false;
}

function closeModalKonfirmasi() {
    isModalConfirm.value = false;
}

function deleteAnggaran(i) {
    resetDataAnggaran();
    dataAnggaran1.value.splice(i, 1);
}

const totalAnggaran = ref(0);
const dataAnggaran1 = ref([]);
const datalogin = ref();

const currentTab = ref(1);

const modal_aktivitas = ref("");
const modal_costcenter = ref("Anggaran Tahun 2023");

const v_dir = ref(0);
const v_dir_id = ref();
const v_dir_name = ref("");
const sugestdataDir = ref();
const dataDir = ref();

const dataSkenarioPusat = ref([]);
const modal_akun_id = ref("");
const modal_nominal = ref("");
const filesDoc = ref([]);
const confirmInformation = ref("");
const modal_akun_name = ref("");
const alasan = ref("");

const dampak_atas = ref("");
const dampak_tidak_sesuai_ajuan = ref("");
const dampak_tidak_sesuai_realisasi = ref("");
const dampak_sesuai_rekomendasi = ref(0);
const rekomendasi_tambah = ref(0);
const isPengajuanNol = ref(true);

const isEdit = ref(false);
const isEditArray = ref();

const v_dir_computed = computed({
    get() {
        return v_dir.value;
    },
    set(value) {
        v_dir.value = value;
        v_dir_id.value = String(value.id);
    },
});

const searchDir = (event) => {
    setTimeout(() => {
        if (!event.query.trim().length) {
            sugestdataDir.value = [...dataDir.value];
        } else {
            sugestdataDir.value = dataDir.value.filter((data) => {
                return data.name
                    .toLowerCase()
                    .startsWith(event.query.toLowerCase());
            });
        }
    }, 250);
};


function approve(text) {
    isModalConfirm.value = true;
    confirmInformation.value = text;
}
function approvedData() {

     isLoadingButtonApprove.value = true;

    axios
        .post(ConfigUrl.getApprove + "/" + id_doc.value + "/approve", null, {
            headers: {
                // token: props.token,
                "Content-Type": "application/x-www-form-urlencoded",
            },
        })
        .then(function (response) {
            toast.add({
                severity: "success",
                summary: "Success Message",
                detail: " Approve Berhasil ",
                life: 3000,
            });
            router.get(route("approval"));
        })
        .catch(function (response) {
             isLoadingButtonApprove.value = false;
            console.log(response);
        });
}

function approvereason(text) {

    isModalConfirm.value = true;
    confirmInformation.value = text;
}

function approvedReason() {
    var params = new URLSearchParams();

     if (reason.value == null || reason.value == "") {
         toast.add({
                    severity: "warn",
                    summary: "Validate Input",
                     detail: "Mohon isikan Catatan",
                    life: 3000,
                });

        isModalConfirm.value = false;
        return false;
    }

    // params.append("reasondirkeu", alasan.value);
    params.append("reason", reason.value);
     isLoadingButtonApprove.value = true;
    axios
        .post(
            ConfigUrl.getApprove + "/" + id_doc.value + "/approvereason",
            null,
            {
                headers: {
                    // token: props.token,
                    "Content-Type": "application/x-www-form-urlencoded",
                },
            }
        )
        .then(function (response) {
            toast.add({
                severity: "success",
                summary: "Success Message",
                detail: "Approve With Reason Berhasil",
                life: 3000,
            });
            router.get(route("approval"));
        })
        .catch(function (response) {
             isLoadingButtonApprove.value = false;
            console.log(response);
        });
}

function revisi(text) {

    isModalConfirm.value = true;
    confirmInformation.value = text;
}
function approvedRevisi() {
    var params = new URLSearchParams();

     if (reason.value == null || reason.value == "") {
         toast.add({
                    severity: "warn",
                    summary: "Validate Input",
                     detail: "Mohon isikan Catatan",
                    life: 3000,
                });
        isModalConfirm.value = false;
        return false;
    }

    // params.append("reasondirkeu", alasan.value);
    params.append("reason", reason.value);
     isLoadingButtonApprove.value = true;
    axios
        .post(ConfigUrl.getApprove + "/" + id_doc.value + "/revisi", params, {
            headers: {
                // token: props.token,
                "Content-Type": "application/x-www-form-urlencoded",
            },
        })
        .then(function (response) {
            toast.add({
                severity: "success",
                summary: "Success Message",
                detail: "Revisi Berhasil",
                life: 3000,
            });
            router.get(route("approval"));
        })
        .catch(function (response) {
            console.log(response);
             isLoadingButtonApprove.value = false;
        });
}

function reject(text) {

    isModalConfirm.value = true;
    confirmInformation.value = text;
}

function approvedReject() {
    var params = new URLSearchParams();

      if (reason.value == null || reason.value == "") {
         toast.add({
                    severity: "warn",
                    summary: "Validate Input",
                     detail: "Mohon isikan Catatan",
                    life: 3000,
                });
        isModalConfirm.value = false;
        return false;
    }

    // params.append("reasondirkeu", alasan.value);
    params.append("reason", reason.value);
    isLoadingButtonApprove.value = true;
    axios
        .post(ConfigUrl.getApprove + "/" + id_doc.value + "/reject", params, {
            headers: {
                // token: props.token,
                "Content-Type": "application/x-www-form-urlencoded",
            },
        })
        .then(function (response) {
            toast.add({
                severity: "success",
                summary: "Success Message",
                detail: "Reject Berhasil",
                life: 3000,
            });
            router.get(route("approval"));
        })
        .catch(function (response) {
            console.log(response);
             isLoadingButtonApprove.value = false;
        });
}

function ajukan(edit = 0) {



     if(isPengajuanNol.value){
        toast.add({
                    severity: "warn",
                    summary: "Validate Input",
                     detail: "Nominal Pengajuan Tidak Boleh 0",
                    life: 3000,
                });
        isModalConfirm.value = false;
        return false;
    }

     if(validateFileSize.value){
        toast.add({
                    severity: "warn",
                    summary: "Validate Input",
                     detail: "File Tidak Boleh Lebih Besar Dari Pada 10 MB",
                    life: 3000,
                });
                 isModalConfirm.value = false;
        return false;
    }



    //cek pengecekan jika doc ini adalah doc edit ditandai dengan editable = 1 / true maka url akan pindah ke savesubmmison menuju api update
    let url = ConfigUrl.createSubmission;

    if (edit == 1) {
        url = ConfigUrl.saveSubmission;
    }

    if (edit == 2) {
        url = ConfigUrl.draftSaveSubmission;
    }

     if (edit == 4) {
        url = ConfigUrl.draftCreateSubmission;
    }

    if (
        aktivitas.value.trim() == ""  ) {
        alert("Silahkan Untuk mengisi aktivitas");
        return false;
    }
        if(description.value.trim == ""  ) {
        alert("Silahkan Untuk mengisi description");
        return false;
    }
        if(activitybg.value.trim() == ""  ) {
        alert("Silahkan Untuk mengisi activity");
        return false;
    }
        if(dampak.value.trim() == ""  ) {
        alert("Silahkan Untuk mengisi dampak");
        return false;
    }
        if(resiko.value.trim() == ""  ) {
        alert("Silahkan Untuk mengisi Resiko");
        return false;
    }

    if( ( v_dir == 0 || v_dir == null || show_rekomendasi.value ) && editable.value ){

        if(String(rekomendasi_tambah.value).trim() == ""  ) {
            alert("Silahkan Untuk mengisi Dampak Tambah");
            return false;
        }

        if(String(dampak_sesuai_rekomendasi.value).trim() == ""  ) {
            alert("Silahkan Untuk mengisi Dampak Sesuai Rekomendasi (Rp)");
            return false;
        }

         if(String(dampak_pak.value).trim() == ""  ) {
            alert("Silahkan Untuk mengisi Dampak Biaya Jika Unfreeze Disetujui Sesuai Ajuan (Rp)");
            return false;
        }

        if(dampak_tidak_sesuai_realisasi.value.trim() == ""  ) {
            alert("Silahkan Untuk mengisi Dampak Tidak Sesuai Realisasi ");
            return false;
        }

        if(dampak_tidak_sesuai_ajuan.value.trim() == ""  ) {
            alert("Silahkan Untuk mengisi Dampak Tidak Sesuai Ajuan  ");
            return false;
        }

         if(dampak_atas.value.trim() == ""  ) {
            alert("Silahkan Untuk mengisi Dampak Atas");
            return false;
        }

        if(rekomendasi_pak.value.trim() == ""  ) {
            alert("Silahkan Untuk mengisi Rekomendasi FPA  ");
            return false;
        }

        if(point_perhatian_pak.value.trim() == ""  ) {
            alert("Silahkan Untuk mengisi Tambahan Point Perhatian ");
            return false;
        }

        if(resiko_pak.value.trim() == ""  ) {
            alert("Silahkan Untuk mengisi Resiko Operasional Jika Unfreeze Tidak Di Setujui Sesuai Ajuan  ");
            return false;
        }
    }


    let data = {};
    let formData = new FormData();

    console.log("edit = " + edit);


    data = {
        aktivitas: aktivitas.value,
        number: "1",
        ebitda: 1,
        opex: 1,
        costcenter_id: null,
        company_id:entitas.value,
        dir_bidang_id: v_dir.value != null ? v_dir.value : null,
        dir_id_name: v_dir_name.value,
        description: description.value,
        activity_background: activitybg.value,
        dampak_aktivitas: dampak.value,
        resiko: resiko.value,
        skenario: dataSkenarioPusat.value,
        catatanpak: ispak.value ? catatanKeuangan.value : "",
        point_perhatian_pak: point_perhatian_pak.value,
        rekomendasi_pak: rekomendasi_pak.value,
        resiko_pak: resiko_pak.value,
        dampak_pak: helper.convertToNumber( dampak_pak.value ),
        is_kaitan_langsung:is_kaitan_langsung_volume_penjualan.value,
        is_kaitan_tidak_langsung:is_kaitan_tidak_langsung_volume_penjualan.value,

        dampak_atas:dampak_atas.value,
        dampak_tidak_sesuai_ajuan:dampak_tidak_sesuai_ajuan.value,
        dampak_tidak_sesuai_realisasi:dampak_tidak_sesuai_realisasi.value,
        dampak_sesuai_rekomendasi:helper.convertToNumber(dampak_sesuai_rekomendasi.value),
        rekomendasi_tambah:helper.convertToNumber(rekomendasi_tambah.value)

    };

    formData.append("data", JSON.stringify(data));

    // jika edit tru maka perlu menambahkan id untuk doc, pastikan bahwa parameter di url edit itu sudah ada parameternya yang telah dibuat
    if (edit == 1 || edit == 2) {
        formData.append("id", id_doc.value);
    }

    if (filesDoc.value.length >= 1) {
        //ini digunakan untuk mengupload dokumen lagi untuk user PAK yang akan diajukan ke DIR KEU
        if (ispak.value) {
               filesDoc.value.forEach((file) => {
                formData.append("dokumen_pendukung_pak[]", file);
            });
        } else {
            filesDoc.value.forEach((file) => {
                formData.append("files[]", file);
            });
        }
    }

    isLoadingButtonApprove.value = true;
    axios
        .post(url, formData, {
            headers: {
                // token: props.token,
                "Content-Type": "multipart/form-data",
            },
        })
        .then(function (response) {

            if(props.aproval == "1"){
                toast.add({
                    severity: "success",
                    summary: "Success",
                    detail: "Pengajuan Berhasil",
                    life: 3000,
                });
                 router.get(route("approval"));
                return false;
            }

            if (edit == 4 || edit == 2) {
                toast.add({
                    severity: "success",
                    summary: "Success Message",
                     detail: "Berhasil menyimpan",
                    life: 3000,
                });
              router.get(route("unfreeze-budget-ap"));

            } else {
                toast.add({
                    severity: "success",
                    summary: "Success Message",
                    detail: "Pengajuan Berhasil",
                    life: 3000,
                });
                router.get(route("unfreeze-budget-ap"));
            }
        })
        .catch(function (response) {
             isLoadingButtonApprove.value = false;
            console.log(response);
        });

    console.log(JSON.stringify(data));
}

function downData(data, urut = null) {
    console.log(JSON.stringify(data));
    isModalPengajuan.value = false;
    if (urut == null) {
        dataSkenarioPusat.value.push(data);
    } else {
        dataSkenarioPusat.value[urut] = data;
    }

    isPengajuanNol.value = true;
    for (let i = 0; i < dataSkenarioPusat.value.length; i++) {
        if(dataSkenarioPusat.value[i].nominal_bulan[12] > 0 ){
            isPengajuanNol.value = false;
            break;
        }
    }
}

async function getdata() {

    if( props.doc_id == "" ){
         await axios
        .post(ConfigUrl.getDatalogin, null, {
            headers: {
                // token: props.token,
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            entitas.value = response.data.resultdata.company_name;
            unitkerja.value = response.data.resultdata.id;
        })
        .catch(function (response) {
            console.log(response);
        });
    }

    await axios
        .post(ConfigUrl.getListDirbidang, null, {
            headers: {
                // token: props.token,
                "Content-Type": "application/x-www-form-urlencoded",
            },
        })
        .then(function (response) {
            dataConstCenter.value = response.data;
            dataDir.value = response.data;
        });

    await axios
        .post(ConfigUrl.getCompany, null, {
            headers: {
                // token: props.token,
                "Content-Type": "application/x-www-form-urlencoded",
            },
        })
        .then(function (response) {
            console.log(response)
            dataEntitas.value = response.data.resultdata;
        });
}

function tambahSkenario() {
    ubahUrut.value = null;
    isModalPengajuan.value = true;
}

function editSkenario(i, d) {
    ubahUrut.value = {
        urut: i,
        data: d,
    };
    isModalPengajuan.value = true;
}

function dataSkenarioPusatAddDel(dataScenarioPusatCall) {
    dataSkenarioPusat.value.push(dataScenarioPusatCall);
}

function onFileChanged($event, index) {
  const target = $event.target.files;
    if (target && target[0]) {
        if (target[0].size > 10 * 1024 * 1024){
            toast.add({
                severity: "warn",
                summary: "Maaf, file terlalu besar",
                detail: "Mohon pilih file kurang dari 10MB",
                life: 3000,
            });
        }else{
            filesDoc.value.push(target[0]);
        }
    }
     filesDocLoad.value += 1 ;
}

function dampak_pak_change(){
    let nominal = String(dampak_pak.value).replace(/\D/g, "");
    dampak_pak.value = helper.numberWithCommas(nominal)
}

function dampak_sesuai_rekomendasi_change(){
    let nominal = String(dampak_sesuai_rekomendasi.value).replace(/\D/g, "");
    dampak_sesuai_rekomendasi.value = helper.numberWithCommas(nominal)
}

function rekomendasi_tambah_change(){
    let nominal = String(rekomendasi_tambah.value).replace(/\D/g, "");
    rekomendasi_tambah.value = helper.numberWithCommas(nominal)
}

function addFiles() {
    inputsFile.value.push({ files: "" });
}
function removeFiles(index) {
   inputsFile.value.splice(index, 1);
    filesDoc.value.splice(index, 1);
    console.log(filesDoc.value.length)
}
</script>

<style>
.autocc .p-autocomplete,
.autocc .p-autocomplete input {
    width: 100%;
    height: 50px;
    font-size: 14px;
}

#supload .p-button {
    font-size: 12px;
    padding: 10px;
}

.tdbase .inline-flex {
    display: contents;
}

input[type="file"] {
    display: none;
}

</style>

<template>
    <LayoutAuthenticated>
        <template>
            <Toast />
        </template>
        <Head title="Form Submission" />
        <SectionMain>
            <SectionTitleLineWithButton
                :icon="mdiChartPie"
                title="Submission AP"
            />
            <div class="bg-white p-4">
                <!-- <div
                    class="relative z-0 w-full mb-6 group"
                >
                    <input
                        type="text"
                        name="unitkerja"
                        v-if="!editable"
                        readonly
                        v-model="v_dir_name"
                        id="unitkerja"
                        class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=""
                        required
                    />
                    <label
                        for="unitkerja"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Dir Bidang Holding <b>(readonly)</b></label
                    >
                </div> -->
                <div
                    class="relative z-0 w-full mb-6 group"
                    v-if="editable"
                >
                    <FormField label="Dir Bidang Holding">
                        <select
                            v-model="v_dir"
                            class="form-select w-full rounded-md"
                            aria-label="Default select example"
                            placeholder="Dir Bidang Holding"
                        >
                            <option value=0>Langsung Ke Atasan</option>
                            <option
                                v-for="(constCenter, indexCc) in dataConstCenter"
                                :key="indexCc"
                                :value="constCenter.id"
                            >
                                {{ constCenter.description }}
                            </option>
                        </select>
                    </FormField>
                </div>
                <div v-if="!editable" class="relative z-0 w-full mb-6 group">
                    <input
                        type="text"
                        readonly
                        v-model="unitkerja_name"
                        id="dir_id"
                        class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" "
                        required
                    />
                    <label
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Dir Bidang <b>(readonly)</b></label
                    >
                </div>
                <div v-if="editable" class="relative z-0 w-full mb-6 group">
                    <FormField label="Entitas">
                        <select
                            v-model="entitas"
                            class="form-select w-full rounded-md"
                            aria-label="Default select example"
                            placeholder="Entitas"
                        >
                            <option
                                v-for="(valueEntitas, indexCc) in dataEntitas"
                                :key="indexCc"
                                :value="valueEntitas.id"
                            >
                                {{ valueEntitas.company_name }}
                            </option>
                        </select>
                    </FormField>
                </div>
                <div v-if="!editable" class="relative z-0 w-full mb-6 group">
                    <input
                        type="text"
                        name="entitas"
                        readonly
                        v-model="entitas_name"
                        id="dir_id"
                        class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" "
                        required
                    />
                    <label
                        for="entitas"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Entitas <b>(readonly)</b></label
                    >
                </div>
                <!-- <div class="relative z-0 w-full mb-6 group autocc">
                    <FormField label="Dir Bidang Holding *">
                        <label>{{ v_dir_name }}</label>
                        <AutoComplete
                            class="col-span-2"
                            :placeholder="'Input Dir'"
                            v-model="v_dir_computed"
                            optionLabel="name"
                            :suggestions="sugestdataDir"
                            @complete="searchDir"
                        />
                    </FormField>
                </div> -->
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4"
                >
                    <div class="relative z-0 w-full group m-0">
                        <FormField label="Aktivitas / Program *">
                            <label v-if="!editable">{{
                                aktivitas
                            }}</label>
                            <FormControl
                                v-if="editable"
                                class="w-full m-0 col-span-2"
                                v-model="aktivitas"
                                type="textarea"
                                placeholder="Enter Aktivitas / Program *"
                            />
                        </FormField>
                    </div>
                    <div class="relative z-0 w-full group m-0">
                        <FormField label="Description Activity *">
                            <label v-if="!editable">{{
                                description
                            }}</label>
                            <FormControl
                                v-if="editable"
                                class="w-full m-0 col-span-2"
                                v-model="description"
                                type="textarea"
                                placeholder="Enter Description Activity *"
                            />
                        </FormField>
                    </div>
                    <div class="relative z-0 w-full m-0 group">
                        <FormField label="Activity Background *">
                            <label v-if="!editable">{{
                                activitybg
                            }}</label>
                            <FormControl
                                v-if="editable"
                                class="w-full m-0 col-span-2"
                                v-model="activitybg"
                                type="textarea"
                                placeholder="Enter Activity Background *"
                            />
                        </FormField>
                    </div>
                    <div class="relative z-0 w-full m-0 group">
                        <FormField label="Dampak Aktivitas *">
                            <label v-if="!editable">{{
                                dampak
                            }}</label>
                            <FormControl
                                v-if="editable"
                                v-model="dampak"
                                class="w-full m-0 col-span-2"
                                type="textarea"
                                placeholder="Enter Dampak Aktivitas *"
                            />
                        </FormField>
                    </div>
                    <div class="relative z-0 w-full m-0 group">
                        <FormField label="Resiko Jika Tidak Dilakukan *">
                            <label v-if="!editable">{{
                                resiko
                            }}</label>
                            <FormControl
                                v-if="editable"
                                v-model="resiko"
                                type="textarea"
                                class="w-full col-span-2"
                                placeholder="Enter Resiko Jika Tidak Dilakukan *"
                            />
                        </FormField>
                    </div>
                    <div class="relative z-0 w-full m-0 group" v-if="!editable">
                        <FormField label="Total Pengajuan*">
                            <label>{{ helper.numberWithCommas(totalPengajuan) }}</label>
                        </FormField>
                    </div>
                </div>
                <div class="mb-3" v-if="'dir_bidang' && editable">
                    <div class="flex items-center justify-between mb-2">
                        <label for="formFile" class="block font-bold"
                            >File Pendukung</label
                        >
                        <label
                        class="text-white font-normal bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800 pointer">
                            <input type="file"
                             accept="application/pdf,application/vnd.ms-excel"
                             @change="onFileChanged($event)"/>
                            <i class="fa fa-cloud-upload"></i> + Tambah File
                        </label>
                    </div>

                    <div
                        class="flex items-center gap-5 mb-2"
                        v-for="(input, indexFiles) in filesDoc"
                        :key="filesDocLoad"
                    >
                             <label for=""  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        {{ input.name }}
                    </label>

                        <BaseButton
                            v-if="indexFiles >= 0"
                            color="danger"
                            :icon="mdiTrashCan"
                            small
                            class="m-0"
                            @click="removeFiles(indexFiles)"
                        />
                    </div>

                    <label class="block font-normal text-red-500 mt-1 text-xs"

                        >Format:
                    </label>
                    <ul class="text-red-500 text-xs">
                        <li>* pdf, doc, docx, ppt, pptx, xls, xlsx</li>
                        <li>* File max 10mb</li>
                    </ul>
                </div>

                <div class="mb-2 mt-4" v-if="file.length > 0">
                    <label for="formFile" class="block font-bold"
                        >File Pendukung</label
                    >
                    <label v-for="(fileData, indexFile) in file" :key="indexFile">
                        <a :href="fileData.url"
                            >Dokumen File Pendukung {{ indexFile + 1 }}
                        </a>
                        <br />
                    </label>
                </div>
                <div
                    class="float-right mb-3 mt-4"
                    style="margin-top: 50px"
                    v-if="dataSkenarioPusat.length == 0"
                >
                    <button
                        @click="tambahSkenario"
                        type="button"
                        style="font-size: 12px"
                        class="mt-3 text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800"
                    >
                        + Tambah Skenario
                    </button>
                </div>

                <table
                    class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
                    style="font-size: 12px; margin-top: 50px"
                >
                    <thead
                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                    >
                        <tr>
                            <th>Skenario Pembebanan</th>
                            <th>Jan</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Apr</th>
                            <th>Mei</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Okt</th>
                            <th>Nov</th>
                            <th>Des</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(v, i) in dataSkenarioPusat" v-bind:key="i">
                            <td class="tdbase">
                                <a @click="editSkenario(i, v)" class="pointer">
                                    <BaseIcon
                                        :path="mdiPencilBoxOutline"
                                        size="24"
                                    />
                                </a>
                                {{ v.skenario_name }}
                            </td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[0]) }}</td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[1] )}}</td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[2] )}}</td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[3] )}}</td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[4] )}}</td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[5] )}}</td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[6] )}}</td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[7] )}}</td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[8] )}}</td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[9] )}}</td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[10]) }}</td>
                            <td>{{ helper.numberWithCommas(v.nominal_bulan[11]) }}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- <div
                    v-if="isdirkeu"
                    style="
                        margin-top: 50px;
                        border: 1px solid #bebebe;
                        padding: 10px;
                    "
                >
                    <label for="formFile" class="block font-bold mb-2"
                        >Catatan PAK</label
                    >
                    <div v-html="catatanKeuangan"></div>
                </div> -->
<!--
                <div v-if="ispak" style="margin-top: 50px">
                    <label for="formFile" class="block font-bold mb-2"
                        >Catatan Ke Direktur Keuangan</label
                    >

                    <QuillEditor
                        v-model:content="catatanKeuangan"
                        contentType="html"
                        theme="snow"
                    />
                </div> -->

                <!-- field reason ini digunakan hanya untuk button yang aktif entah itu approve reason, revisi atau reject -->
                <div>

                    <div class="recomendation mt-4" v-if="v_dir == 0 || v_dir == null || show_rekomendasi">
                        <label for="" class="text-lg font-bold"
                            >Rekomendasi</label
                        >
                        <div
                            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 mt-10"
                        >
                            <div class="relative z-0 w-full group m-0">
                                <FormField label="Kaitan Volume Penjualan *">
                                     <label
                                        v-if="!editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        {{ is_kaitan_langsung_volume_penjualan == false ? "Tidak Langsung" : "Langsung" }}
                                    </label>
                                    <label
                                        v-if="editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        <input
                                            v-model="is_kaitan_langsung_volume_penjualan"
                                            type="checkbox"
                                            class="sr-only peer"
                                        />
                                        <div
                                            class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                                        ></div>
                                        <span
                                            class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                                            >Langsung</span
                                        >
                                    </label>
                                </FormField>
                                <FormField label="">
                                     <label
                                        v-if="!editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        {{ is_kaitan_tidak_langsung_volume_penjualan == false ? "" : "TIdak Langsung" }}
                                    </label>
                                    <label
                                        v-if="editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        <input
                                            v-model="is_kaitan_tidak_langsung_volume_penjualan"
                                            type="checkbox"
                                            class="sr-only peer"
                                        />
                                        <div
                                            class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                                        ></div>
                                        <span
                                            class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                                            >Tidak Langsung</span
                                        >
                                    </label>
                                </FormField>
                            </div>
                            <div class="relative z-0 w-full group m-0">
                                <FormField label="Dampak Biaya Jika Unfreeze Disetujui Sesuai Ajuan (Rp) *">
                                     <label
                                        v-if="!editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        {{ helper.numberWithCommasAndConvert( dampak_pak ) }}
                                    </label>
                                    <FormControl
                                        v-if="editable"
                                        class="w-full m-0 col-span-2"
                                        v-model="dampak_pak"
                                        v-on:change="dampak_pak_change"
                                        type="text"
                                        placeholder="Enter Dampak PAK *"
                                    />
                                </FormField>
                            </div>
                            <div class="relative z-0 w-full group m-0">
                                <FormField label="Resiko Operasional Jika Unfreeze Tidak Di Setujui Sesuai Ajuan *">
                                      <label
                                        v-if="!editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        {{ resiko_pak }}
                                    </label>
                                    <FormControl
                                    v-if="editable"
                                        class="w-full m-0 col-span-2"
                                        v-model="resiko_pak"
                                        type="textarea"
                                        placeholder="Enter Resiko PAK *"
                                    />
                                </FormField>
                            </div>
                            <div class="relative z-0 w-full group m-0">
                                <FormField label="Tambahan Point Perhatian *">
                                      <label
                                        v-if="!editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        {{ rekomendasi_pak }}
                                    </label>
                                    <FormControl
                                    v-if="editable"
                                        class="w-full m-0 col-span-2"
                                        v-model="rekomendasi_pak"
                                        type="textarea"
                                        placeholder="Enter Point Pehatian PAK *"
                                    />
                                </FormField>
                            </div>
                        <div class="relative z-0 w-full group m-0 mt-2">
                            <FormField label="Rekomendasi PAK *">
                                  <label
                                        v-if="!editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        {{ point_perhatian_pak }}
                                    </label>
                                <FormControl
                                v-if="editable"
                                    class="w-full m-0 col-span-2"
                                    v-model="point_perhatian_pak"
                                    type="textarea"
                                    placeholder="Enter Rekomendasi PAK *"
                                />
                            </FormField>
                        </div>
                        <div class="relative z-0 w-full group m-0 mt-2">
                              <FormField label="Dampak dari RKAP jika disetujui sesuai ajuan *">
                                  <label
                                        v-if="!editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        {{ dampak_atas }}
                                    </label>
                                <FormControl
                                v-if="editable"
                                    class="w-full m-0 col-span-2"
                                    v-model="dampak_atas"
                                    type="textarea"
                                    placeholder="Enter*"
                                />
                            </FormField>
                        </div>
                         <div class="relative z-0 w-full group m-0 mt-2">
                             <FormField label="Dampak dari alokasi jika disetujui sesuai ajuan *">
                                  <label
                                        v-if="!editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        {{ dampak_tidak_sesuai_ajuan }}
                                    </label>
                                <FormControl
                                v-if="editable"
                                    class="w-full m-0 col-span-2"
                                    v-model="dampak_tidak_sesuai_ajuan"
                                    type="textarea"
                                    placeholder="Enter*"
                                />
                            </FormField>
                        </div>
                         <div class="relative z-0 w-full group m-0 mt-2">
                            <FormField label="Dampak dari RKAP jika disetujui sesuai rekomendasi *">
                                  <label
                                        v-if="!editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        {{ dampak_tidak_sesuai_realisasi }}
                                    </label>
                                <FormControl
                                v-if="editable"
                                    class="w-full m-0 col-span-2"
                                    v-model="dampak_tidak_sesuai_realisasi"
                                    type="textarea"
                                    placeholder="Enter *"
                                />
                            </FormField>
                        </div>
                         <div class="relative z-0 w-full group m-0 mt-2">
                               <FormField label="Dampak dari alokasi jika disetujui sesuai rekomendasi (Rp) *">
                                  <label
                                        v-if="!editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        {{ helper.numberWithCommasAndConvert( dampak_sesuai_rekomendasi ) }}
                                    </label>
                                <FormControl
                                v-if="editable"
                                    class="w-full m-0 col-span-2"
                                    v-model="dampak_sesuai_rekomendasi"
                                    v-on:change="dampak_sesuai_rekomendasi_change"
                                    type="text"
                                    placeholder="Enter *"
                                />
                            </FormField>
                        </div>
                         <div class="relative z-0 w-full group m-0 mt-2">
                               <FormField label="Rekomendasi (Rp) *">
                                  <label
                                        v-if="!editable"
                                        class="relative inline-flex items-center cursor-pointer"
                                    >
                                        {{ helper.numberWithCommasAndConvert( rekomendasi_tambah ) }}
                                    </label>
                                <FormControl
                                v-if="editable"
                                    class="w-full m-0 col-span-2"
                                    v-model="rekomendasi_tambah"
                                    v-on:change="rekomendasi_tambah_change"
                                    type="text"
                                    placeholder="Enter *"
                                />
                            </FormField>
                        </div>
                        </div>
                    </div>


                    <div
                        class="flex justify-start mt-5"
                        v-if="
                            button_approve_reason ||
                            button_revisi ||
                            button_reject
                        "
                    >
                        <div class="container">
                            <div class="relative z-0 w-full mb-12 group">
                                <FormField label="Disposisi *">
                                    <FormControl
                                        class="w-full"
                                        v-model="reason"
                                        type="textarea"
                                        placeholder="Enter Reason"
                                    />
                                </FormField>
                            </div>
                        </div>
                    </div>

                    <!-- ini adalah button untuk menentukan mana button yang aktif, ketika doc ini edit / create / approve  -->

                       <div
                        v-if="isLoadingButtonApprove"
                        class="container"
                        style="width: 100%; text-align: -webkit-center"
                    >
                        <Loading :active="true" />
                    </div>

                    <div class="flex justify-start gap-4 mt-5" v-if="!isLoadingButtonApprove">
                        <button
                            v-if="button_approve"
                            @click="approve('approve')"
                            type="button"
                            class="text-white bg-green-900 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-600 dark:focus:ring-green-700"
                        >
                            Approve
                        </button>

                        <button
                            v-if="button_approve_reason"
                            @click="approvereason('alasan')"
                            type="button"
                            class="text-white bg-green-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        >
                            Approve Dengan Catatan
                        </button>
                        <button
                            v-if="button_revisi"
                            @click="revisi('revisi')"
                            type="button"
                            class="text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800"
                        >
                            Revisi
                        </button>

                        <button
                            v-if="button_reject"
                            @click="reject('reject')"
                            type="button"
                            class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
                        >
                            Reject
                        </button>

                        <button
                            v-if="button_submit_edit"
                             @click="approve('simpandenganajukan')"
                            type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        >
                            Send
                        </button>

                         <button
                            v-if="id_doc != '' && button_submit_save"
                            @click="approve('simpantanpaajukan')"
                            type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        >
                            Save Draft
                        </button>

                        <button
                            v-if="id_doc == ''"
                            @click="approve('ajukan')"
                            type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        >
                            Send
                        </button>

                          <button
                            v-if="id_doc == ''"
                            @click="approve('simpandraft')"
                            type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        >
                            Save Draft
                        </button>

                    </div>
                </div>
            </div>
        </SectionMain>

        <div
            v-if="isModalPengajuan"
            class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full justify-center items-center flex"
            style="z-index: 999; background-color: rgb(0, 0, 0, 0.3)"
        >
            <Skenario
                :editable="editable"
                :ubahUrut="ubahUrut"
                :dataCC="modal_costcenter"
                :upData="downData"
                :closeModal="closeModal"
                :token="props.token"
            />
        </div>

        <div
            v-if="isModalConfirm"
            class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full justify-center items-center flex"
            style="z-index: 999; background-color: rgb(0, 0, 0, 0.3)"
        >
            <div class="relative w-full max-w-md max-h-full">
                <div
                    class="relative bg-white rounded-lg shadow dark:bg-gray-700"
                >
                    <div
                        class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
                    >
                        <h3
                            class="text-xl font-semibold text-gray-900 dark:text-white"
                        >
                            Konfirmasi
                        </h3>
                        <button
                            type="button"
                            @click="closeModalKonfirmasi"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="staticModal"
                        >
                            <svg
                                class="w-5 h-5"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </button>
                    </div>
                    <div class="p-6 space-y-6">
                        <label for="" class="text-center flex justify-center">
                            Apa anda yakin ingin melakukan
                            {{
                                confirmInformation === "1alasan" || confirmInformation === "1revisi" || confirmInformation === "1reject"
                                    ? "approve dengan menggunakan alasan pada"
                                    : confirmInformation
                            }}
                            data ini?
                        </label>
                        <div v-if='confirmInformation === "1alasan" || confirmInformation === "1revisi" || confirmInformation === "1reject"' class="relative z-0 w-full group m-0">
                            <FormField label="Catatan">
                                <FormControl
                                    v-model="alasan"
                                    class="w-full m-0 col-span-2"
                                    type="text"
                                    placeholder="Enter Catatan"
                                />
                            </FormField>
                        </div>
                    </div>
                    <div
                        class="flex items-center justify-end p-3 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
                    >
                        <div>
                             <button
                                v-if="isLoadingButtonApprove"
                                data-modal-hide="staticModal"
                                type="button"
                                class="text-white bg-white-700 hover:bg-white-800 focus:ring-4 focus:outline-none focus:ring-white-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-white-600 dark:hover:bg-white-700 dark:focus:ring-white-800"
                            >
                                <Loading :active="true" />
                            </button>
                            <button
                                v-if="!isLoadingButtonApprove"
                                @click="
                                   confirmInformation === `revisi` ? approvedRevisi()
                                        : confirmInformation === 'alasan' ? approvedReason()

                                        : confirmInformation === 'simpandenganajukan' ? ajukan(1)
                                        : confirmInformation === 'simpantanpaajukan' ? ajukan(2)
                                        : confirmInformation === 'ajukan' ? ajukan(0)
                                        : confirmInformation === 'simpandraft' ? ajukan(4)

                                        : confirmInformation === 'reject' ? approvedReject()
                                        : approvedData()
                                "
                                data-modal-hide="staticModal"
                                type="button"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            >
                                Ok
                            </button>
                            <button
                                data-modal-hide="staticModal"
                                type="button"
                                @click="closeModalKonfirmasi"
                                class="ml-2 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </LayoutAuthenticated>
</template>
