<template>
    <LayoutAuthenticated>
        <template>
            <Toast />
        </template>
        <Head title="Unfreeze Budget AP Detail" />
        <SectionMain>
            <SectionTitleLineWithButton
                :icon="mdiChartPie"
                title="Unfreeze Budget AP Detail"
            />
            <div class="bg-white p-4">
                <div class="relative z-0 w-full mb-6 group">
                    <input
                        type="text"
                        name="unitkerja"
                        readonly
                        v-model="unitkerja"
                        id="unitkerja"
                        class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=""
                        required
                    />
                    <label
                        for="unitkerja"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Unit Kerja <b><a @click="a()">(readonly)</a></b></label
                    >
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    <input
                        type="text"
                        name="unitkerja"
                        readonly
                        v-model="entitas"
                        id="unitkerja"
                        class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=""
                        required
                    />
                    <label
                        for="unitkerja"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Entitas <b><a @click="a()">(readonly)</a></b></label
                    >
                </div>

                <div
                    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4"
                >
                    <div class="relative z-0 w-full m-0 group">
                        <FormField label="Aktivitas / Program *">
                            <label>{{ aktivitas }}</label>
                        </FormField>
                    </div>
                    <div class="relative z-0 w-full group m-0">
                        <FormField label="Description Activity *">
                            <label>{{ description }}</label>
                        </FormField>
                    </div>
                    <div class="relative z-0 w-full m-0 group">
                        <FormField label="Activity Background *">
                            <label>{{ activitybg }}</label>
                        </FormField>
                    </div>
                    <div class="relative z-0 w-full m-0 group">
                        <FormField label="Dampak Aktivitas *">
                            <label>{{ dampak }}</label>
                        </FormField>
                    </div>
                    <div class="relative z-0 w-full m-0 group">
                        <FormField label="Resiko Jika Tidak Dilakukan *">
                            <label>{{ resiko }}</label>
                        </FormField>
                    </div>
                    <div class="relative z-0 w-full m-0 group">
                        <FormField label="Total Pengajuan*">
                            <label>{{ totalPengajuan }}</label>
                        </FormField>
                    </div>
                </div>
                <div class="mb-2 mt-4">
                    <label for="formFile" class="block font-bold"
                        >File Pendukung</label
                    >
                    <label v-for="(fileData, indexFile) in file">
                        <a :href="fileData.path"
                            >Dokumen File Pendukung {{ indexFile + 1 }}
                        </a>
                        <br />
                    </label>
                </div>

                <table
                    class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
                    style="font-size: 12px; margin-top: 50px"
                >
                    <thead
                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                    >
                        <tr>
                            <th>Skenario Pembebanan</th>
                            <th>Jan</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Apr</th>
                            <th>Mei</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Okt</th>
                            <th>Nov</th>
                            <th>Des</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(v, i) in dataSkenarioPusat" v-bind:key="i">
                            <td class="tdbase">
                                <a @click="editSkenario(i, v)" class="pointer">
                                    <BaseIcon
                                        :path="mdiPencilBoxOutline"
                                        size="24"
                                    />
                                </a>
                                {{ v.skenario_name }}
                            </td>
                            <td>{{ v.nominal_bulan[0] }}</td>
                            <td>{{ v.nominal_bulan[1] }}</td>
                            <td>{{ v.nominal_bulan[2] }}</td>
                            <td>{{ v.nominal_bulan[3] }}</td>
                            <td>{{ v.nominal_bulan[4] }}</td>
                            <td>{{ v.nominal_bulan[5] }}</td>
                            <td>{{ v.nominal_bulan[6] }}</td>
                            <td>{{ v.nominal_bulan[7] }}</td>
                            <td>{{ v.nominal_bulan[8] }}</td>
                            <td>{{ v.nominal_bulan[9] }}</td>
                            <td>{{ v.nominal_bulan[10] }}</td>
                            <td>{{ v.nominal_bulan[11] }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="recomendation mt-4">
                    <label for="" class="text-lg font-bold">Rekomendasi</label>

                    <div
                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 mt-10"
                    >
                        <div class="relative z-0 w-full group m-0">
                            <FormField label="Kaitan Volume Penjualan *">
                                <label
                                    class="relative inline-flex items-center cursor-pointer"
                                >
                                    <input
                                        v-model="
                                            is_kaitan_langsung_volume_penjualan
                                        "
                                        type="checkbox"
                                        class="sr-only peer"
                                    />
                                    <div
                                        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                                    ></div>
                                    <span
                                        class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                                        >Langsung</span
                                    >
                                </label>
                            </FormField>
                        </div>
                        <div class="relative z-0 w-full group m-0">
                            <FormField label="Dampak PAK *">
                                <FormControl
                                    class="w-full m-0 col-span-2"
                                    v-model="dampak_pak"
                                    type="textarea"
                                    placeholder="Enter Dampak PAK *"
                                />
                            </FormField>
                        </div>
                        <div class="relative z-0 w-full group m-0">
                            <FormField label="Resiko PAK *">
                                <FormControl
                                    class="w-full m-0 col-span-2"
                                    v-model="resiko_pak"
                                    type="textarea"
                                    placeholder="Enter Resiko PAK *"
                                />
                            </FormField>
                        </div>
                        <div class="relative z-0 w-full group m-0">
                            <FormField label="Rekomendasi PAK *">
                                <FormControl
                                    class="w-full m-0 col-span-2"
                                    v-model="rekomendasi_pak"
                                    type="textarea"
                                    placeholder="Enter Rekomendasi PAK *"
                                />
                            </FormField>
                        </div>
                    </div>
                    <div class="relative z-0 w-full group m-0">
                        <FormField label="Point Pehatian PAK *">
                            <FormControl
                                class="w-full m-0 col-span-1"
                                v-model="point_perhatian_pak"
                                type="textarea"
                                placeholder="Enter Point Pehatian PAK *"
                            />
                        </FormField>
                    </div>
                </div>
            </div>
        </SectionMain>
    </LayoutAuthenticated>
</template>

<script setup>
import LayoutAuthenticated from "@/Layouts/LayoutAuthenticated.vue";
import Toast from "primevue/toast";
import { Head, Link, useForm, router, usePage } from "@inertiajs/vue3";
import SectionMain from "@/Components/SectionMain.vue";
import SectionTitleLineWithButton from "@/Components/SectionTitleLineWithButton.vue";
import { mdiChartPie } from "@mdi/js";
import FormField from "@/Components/FormField.vue";
import FormControl from "@/Components/FormControl.vue";
import { computed, ref, onMounted, reactive } from "vue";
import { ConfigUrl } from "@/config_url.js";
import axios from "@/axios";

const point_perhatian_pak = ref("");
const rekomendasi_pak = ref("");
const resiko_pak = ref("");
const dampak_pak = ref("");
const is_kaitan_langsung_volume_penjualan = ref(false);
const file = ref([]);
const totalPengajuan = ref("");
const aktivitas = ref("");
const description = ref("");
const activitybg = ref("");
const dampak = ref("");
const resiko = ref("");
let unitkerja = ref("Unit Kerjaku");
let entitas = ref("Entitas ku");
const props = defineProps({
    token: String,
    id: Number,
    code: {
        type: Object,
        default: () => ({}),
    },
});

onMounted(async () => {
    getCekPage();
}); 

function getCekPage() {
    var params = new URLSearchParams();
    console.log("router", params);
    axios
        .post(ConfigUrl.getApproveDe, params, {
            headers: {
                // token: props.token,
                "Content-Type": "application/x-www-form-urlencoded",
            },
        })
        .then(function (response) {
            console.log(response);
            let statusdoc = response.data.resultdata.statusdoc;
            let data_support = response.data.resultdata.data_support;
            let data = response.data.resultdata.data;

            //button ini dinamis dari server. Button ini digunakan untuk button approve, edit, create. Jadi satu. setiap doc bisa berbeda button
            // yang berfungsi
            button_approve.value = statusdoc.button_approve;
            button_approve_reason.value = statusdoc.button_approve;
            button_reject.value = statusdoc.button_reject;
            button_revisi.value = statusdoc.button_revisi;
            button_submit_edit.value = statusdoc.button_submit_edit;
            button_submit_save.value = statusdoc.button_submit_save;
            editable.value = statusdoc.editable;
            totalPengajuan.value = data.opex;
            costcenterName.value = response.data.resultdata.data_cost_center;
            file.value = data_support.files;

            // agar dokumen ini tahu bahwa status doc ini berada di user PAK atau bukan.
            // !cek apakah statusdoc.ispak ini sudah ada atau belum
            if (statusdoc.ispak != null) {
                ispak.value = statusdoc.ispak;
            }

            // agar dokumen ini tahu bahwa status doc ini berada di user Dirut Keuangan atau bukan.
            // !cek apakah statusdoc.isdirkeu ini sudah ada atau belum
            if (statusdoc.isdirkeu != null) {
                isdirkeu.value = statusdoc.isdirkeu;
            }

            id_doc.value = data_support.trans_doc_id;

            // comman ini artinya adlah edit, dimana semua data didefinisikan. agar bisa terlihat
            dataSkenarioPusat.value = data.skenario;

            aktivitas.value = data.aktivitas;
            description.value = data.description;
            activitybg.value = data.activity_background;
            dampak.value = data.dampak_aktivitas;
            resiko.value = data.resiko;
            v_dir_id.value = data.dir_id;
            v_dir_name.value = data.dir_name;
            catatanKeuangan = data.catatanpak;
            unitkerja.value = data.costcenter_id;

            for (let i = 0; i < dataDir.value.length; i++) {
                if (dataDir.value[i].id == v_dir_id.value) {
                    v_dir.value = dataDir.value[i];
                    v_dir_name.value = dataDir.value[i].name;
                }
            }
        })
        .catch(function (response) {
            console.log(response);
        });

    let datapage = {
        resultdata: {
            data_support: {
                id: 1,
            },
            data: {},
        },
    };
}
</script>
