<template>
    <div class="relative w-full max-w-7xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div
                class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
            >
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    {{
                        isEdit
                            ? "Form Pengubahan Skenario"
                            : "Form Penambahan Skenario"
                    }}
                </h3>
                <button
                    type="button"
                    @click="closeModal"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="staticModal"
                >
                    <svg
                        class="w-5 h-5"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <div class="relative z-0 w-full mb-6 group">
                            <FormField label="Skenario Pembebanan *">
                                <FormControl
                                    v-model="modal_skenario"
                                    type="text"
                                    placeholder="Enter Skenario Pembebanan *"
                                />
                            </FormField>
                        </div>
                    </div>
                    <!-- ... -->
                    <!-- <div>
                        <div class="grid grid-cols-3 gap-4 float-right">
                            <div>
                                <label
                                    for="program"
                                    class="peer-focus:font-medium text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                >
                                    <b> Tahun * </b>
                                </label>
                            </div>
                            <div>
                                <Calendar
                                    v-model="modal_year"
                                    view="year"
                                    dateFormat="yy"
                                />
                            </div>
                        </div>
                    </div> -->
                </div>

                <table class="table-auto" style="font-size: 12px">
                    <thead>
                        <tr>
                            <th>Aktivitas</th>
                            <th>Bulan</th>
                            <th>Komponen Biaya</th>
                            <th>Nominal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody v-if="dataSkenario != null">
                        <SkenarioInput
                            v-for="index in dataSkenario.beban.length" :key="index"
                            ref="inputref"
                            :token="props.token"
                            :dataUbah="dataUbah[index-1]"
                            :dataCC="props.dataCC"
                        />
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div
                v-if="editable"
                class="flex items-center justify-between p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
            >
                <div>
                    <button
                    @click="submitDataKePusat"
                    data-modal-hide="staticModal"
                    type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    {{ isEdit ? "Ubah" : "Submit" }}
                </button>
                <button
                    data-modal-hide="staticModal"
                    type="button"
                    @click="closeModal"
                    class="ml-2 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                >
                    Cancel
                </button>
                </div>

                <div>
                    <button
                        @click="addDataLine"
                        data-modal-hide="staticModal"
                        type="button"
                        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 float-right"
                        style="font-size: 12px"
                    >
                        Add
                    </button>

                    <template v-if="dataSkenario != null">
                        <button
                            v-if="dataSkenario.beban.length > 1"
                            @click="minusDataLine"
                            data-modal-hide="staticModal"
                            type="button"
                            class="mr-4 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 float-right"
                            style="font-size: 12px"
                        >
                            Remove
                        </button>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import AsideMenuItem from "@/Components/AsideMenuItem.vue";
import { ref, watch, onMounted, computed } from "vue";
import Helper from "@/helper";
import axios from "@/axios";
import { ConfigUrl } from "@/config_url.js";
import AutoComplete from "primevue/autocomplete";
import Calendar from "primevue/calendar";
import SkenarioInput from "@/Pages/UnfreezeBudgetAP/SkenarioInput.vue";

import FormField from "@/Components/FormField.vue";
import FormControl from "@/Components/FormControl.vue";

const props = defineProps({
    token: String,
    dataCC: String,
    data: {
        type: Array,
        default: [],
    },
    delete: {
        type: Function,
    },
    ubahUrut: {
        type: Object,
        default: null,
    },
    closeModal: {
        type: Function,
    },
    upData: {
        type: Function,
    },
    dataSkenarioEdit: {
        type: Object,
        default: null,
    },
    editable: true,
});

const inputref = ref([]);

const urut = ref(null);
const isEdit = ref(false);

const modal_akun_name = ref("");
const modal_costelement = ref("");

const modal_akun_id = ref("");
const modal_nominal = ref("");

const selectedCountry = ref();
const filteredCountries = ref();

const countries = ref();
const dataUbah = ref([]);
const modal_skenario = ref();
const modal_costcenter = ref("Anggaran Tahun 2023");
const modal_year = ref();
const waiting = ref(true);

const dataSkenario = ref(null);

onMounted(async () => {
    waiting.value = true;
    if (props.ubahUrut != null) {
        let dataq;

        urut.value = props.ubahUrut.urut;
        dataq = props.ubahUrut.data;



        modal_year.value = dataq.year;
        modal_skenario.value = dataq.skenario_name;

        for (let q = 0; q < dataq.beban.length; q++) {
            dataUbah.value[q] = dataq.beban[q];
        }

        dataSkenario.value = dataq;
        isEdit.value = true;
    } else {
        for (let q = 0; q < 11; q++) {
            dataUbah.value[q] = null;
        }

        dataSkenario.value = {
            skenario_name: "",
            komponen_biaya:"",
            beban: [
                {
                    aktivitas: "",
                    bulan: "",
                    costcenter: "",
                    costelement: "",
                    // komponen: "",
                    nominal: "",
                },
            ],
        };
    }

    waiting.value = true;
    getDataJurnal();
});

function submitDataKePusat() {
    dataSkenario.value.skenario_name = modal_skenario.value;
    
    // dataSkenario.value.skenario = modal_year.value;
    if (modal_year.value != null && modal_year.value != "") {
        console.log(modal_year.value.toISOString());
        let data = modal_year.value.toISOString().split("-");
        dataSkenario.value.year = data[0];
    } else {
        modal_year.value = "";
    }

    let bulan = [];
    for (let a = 0; a <= 12; a++) {
        bulan[a] = 0;
    }

    let dataLineNominalCheck;
    for (let i = 0; i < dataSkenario.value.beban.length; i++) {
        dataSkenario.value.beban[i] = inputref.value[i].dataUp();
        dataLineNominalCheck = inputref.value[i].dataUp();

        if (
            dataLineNominalCheck.aktivitas_program.trim() == "" ||
            dataLineNominalCheck.bulan == null ||
            dataLineNominalCheck.bulan == "" ||
            modal_skenario.value == null ||
            modal_skenario.value.trim() == "" ||
            dataLineNominalCheck.nominal == null ||
            dataLineNominalCheck.nominal == "" ||
            dataLineNominalCheck.komponen == null ||
            dataLineNominalCheck.komponen == ""
        ) {
            console.log(JSON.stringify(dataLineNominalCheck));
            alert("mohon isi lengkap");
            return false;
        }
        dataSkenario.value.komponen_biaya = dataLineNominalCheck.komponen;
        if (dataLineNominalCheck.bulan == 1) {
            bulan[0] = bulan[0] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan == 2) {
            bulan[1] = bulan[1] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan == 3) {
            bulan[2] = bulan[2] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan == 4) {
            bulan[3] = bulan[3] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan == 5) {
            bulan[4] = bulan[4] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan == 6) {
            bulan[5] = bulan[5] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan == 7) {
            bulan[6] = bulan[6] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan == 8) {
            bulan[7] = bulan[7] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan == 9) {
            bulan[8] = bulan[8] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan == 10) {
            bulan[9] = bulan[9] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan == 11) {
            bulan[10] = bulan[10] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan == 12) {
            bulan[11] = bulan[11] + Number(dataLineNominalCheck.nominal);
        }
        if (dataLineNominalCheck.bulan >= 1 && dataLineNominalCheck.bulan <= 12 ) {
            bulan[12] = Number(bulan[12]) + Number(dataLineNominalCheck.nominal);
        }
    }

    dataSkenario.value.nominal_bulan = bulan;

    if (props.ubahUrut == null) {
        props.upData(dataSkenario.value);
    } else {
        props.upData(dataSkenario.value, urut);
    }
}

function ubah(i) {
    props.ubah(i);
}

function hapus(i) {
    props.delete(i);
}

const modal_akun_name_comp = computed({
    get() {
        return modal_akun_name.value;
    },
    set(value) {
        modal_akun_name.value = value;
        modal_costelement.value = modal_akun_id.value = value.gl_account;
        console.log(value);
    },
});

const search = (event) => {
    setTimeout(() => {
        if (!event.query.trim().length) {
            filteredCountries.value = [...countries.value];
        } else {
            filteredCountries.value = countries.value.filter((country) => {
                return country.description
                    .toLowerCase()
                    .startsWith(event.query.toLowerCase());
            });
        }
    }, 250);
};

function addDataLine() {
    dataSkenario.value.beban.push({
        aktivitas: "",
        bulan: "",
        costcenter: "",
        costelement: "",
        akun: "",
        nominal: "",
    });
}

function minusDataLine() {
    dataSkenario.value.beban.pop();
}

function getDataJurnal() {
    axios
        .post(
            ConfigUrl.getGL,
            JSON.stringify({
                perpage: "1000",
                page: "1",
            }),
            {
                headers: {
                    // token: props.token,
                    "Content-Type": "application/json",
                },
            }
        )
        .then(function (response) {
            countries.value = response.data.resultdata;
        })
        .catch(function (response) {
            console.log(response);
        });
}

const style_tab =
    "inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300";
const style_tab_active =
    "inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500";

function goToTab(i) {
    currentTab.value = i;
}
</script>
